.global {
  margin-left : 8px;
  margin-right : 8px;
}
.pageTitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #336699;
  text-decoration: none;
  margin-top: -3px;
}

.header {
  border : 0;
  width : 100%;
  align-content : center;
}

.formTable {
  font-size : 12px;
  width : 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.formTable a {
  color : #003366;
  cursor : pointer;
  text-decoration : underline;
}

.formTable a:visited {
  color : #0000FF;
}

.rightAlign {
  text-align : right;
}

hr {
  display: block;
  margin-top : 6px;
  margin-bottom : 6px;
  overflow: hidden;
  border-style: inset;
  border : 0.1px solid rgb(141, 140, 140);
  border-width: 0.5px;
}

.description {
  font-size: 14px;
  TEXT-ALIGN: left;
  FONT-WEIGHT: normal;
  color: #000000;
  text-decoration: none;
}

.head{
  font-size: 14px;
  TEXT-ALIGN: center;
  FONT-WEIGHT: normal;
  color: #ffffff;
  BACKGROUND-COLOR: #336699;
  text-decoration: none;
  width: 100%
}
