<form [formGroup]="globalAdminUpdateForm" (ngsubmit)="updateGlobalAdmin()" class="global">
    <table class="header">
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <div class="pageTitle">Update Global Administrator Privileges
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        <tr>
          <td>
            <div class="description">Select User ID, check the appropriate privileges and click <b> Submit</b>.</div>
            <div class="errorMessage">{{errorMessage}}</div>
            <div class="successMessage"></div>
          </td>
        </tr>
        <tr>
          <td>
            <hr>
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  
    <table class="formTable">
      <tbody>
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">User ID </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <select (change)="changeAdmin($event.target.selectedIndex)" formControlName="userEncoding">
              <option value="--">---</option>
              <option [value]="user.name" *ngFor="let user of users">{{user.name}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
  
  
    <table class="formTable" *ngIf="showDetails">
      <tbody>
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">First Name</a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <input type="text" formControlName="firstName" [value]="adminDetails.adminInput.firstNameClear"
              size="25" maxlength="55">
          </td>
        </tr>
  
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Middle Name</a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <input type="text" formControlName="middleName" size="25" maxlength="55"
              [value]="adminDetails.adminInput.middleNameClear">
          </td>
        </tr>
  
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Last Name</a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <input type="text" formControlName="lastName" value="" size="25" maxlength="55"
              [value]="adminDetails.adminInput.lastNameClear">
          </td>
        </tr>
  
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Description</a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <textarea formControlName="description" rows="5" cols="20"
              [value]="adminDetails.adminInput.description"></textarea>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="inputkey" class="rightAlign">
            <input type="CHECKBOX" formControlName="pwdNeverExpires"
              [checked]="adminDetails.adminInput.pwdNeverExpires">
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Template ID</a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <select formControlName="templateIdClear" (change)="changeTemplate($event.target.selectedIndex)">
              <option value="-1000">None</option>
              <option  [value]="template" *ngFor = "let template of templates">{{template}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
          <td class="inputkey" class="rightAlign">
            <input type="CHECKBOX" formControlName="blksimultlogin"
              [checked]="adminDetails.adminInput.blockkSimultaneousLogin">
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login</a></div>
          </td>
        </tr>
  
        <tr>
          <td class="inputkey" class="rightAlign">
            <input type="CHECKBOX" formControlName="updateProfileAtLogin"
              [checked]="adminDetails.adminInput.updateProfileAtLogin">
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div class="leftAlign"><a href="#"> Admin must update profile</a></div>
          </td>
        </tr>
  
        <tr>
          <td class="rightAlign">
            <div id="divTwoFactorAuthTypeLabel" style="display: none">
              <a href="#">Two-Factor Authentication Type</a>&nbsp;&nbsp;
            </div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="leftAlign">
            <div style="display: none">
              <select>
                <option value="1">CA ArcotID</option>
                <option value="2">Simple OTP</option>
              </select>
            </div>
          </td>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
  
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div *ngIf="!templateId; then showPassword else hidePassword"></div>
            <ng-template #showPassword>
              <select formControlName="maxValForLastPwdList">
                <option value=0>None</option>
                <option [value]="passwordNumbers.label"
                  *ngFor="let passwordNumbers of adminDetails.valuesForLastPwdList">{{passwordNumbers.value}}
                </option>
              </select></ng-template>
            <ng-template #hidePassword>
              <select formControlName="maxValForLastPwdList" disabled>
                <option value=0>None</option>
                <option [value]="passwordNumbers.label"
                  *ngFor="let passwordNumbers of adminDetails.valuesForLastPwdList">{{passwordNumbers.value}}
                </option>
              </select>
            </ng-template>
          </td>
        </tr>
  
        <tr>
  
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Admin Contact Details Collection </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div *ngIf="!templateId; then showContact else hideContact"></div>
            <ng-template #showContact>
              <select formControlName="collectAdminContactDetails"
                (change)="showDeliveryChannel($event.target.selectedIndex)"
                (change)="firstDropDownChanged($event.target.selectedIndex )">
                <option *ngFor="let v of _values1" [value]="v.id">
                  {{v.name}}
                </option>
              </select>
            </ng-template>
            <ng-template #hideContact>
              <select formControlName="collectAdminContactDetails" disabled>
                <option *ngFor="let v of _values1" [value]="v.id">{{ v.name }}</option>
              </select>
            </ng-template>
          </td>
        </tr>
        <tr>
  
          <td>
            &nbsp;
          </td>
        </tr>
        <tr *ngIf="adminId">
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Delivery Channel </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <select formControlName="twoFactorDeliveryChannelType">
              <option *ngFor="let v of _values2" [value]="v.id">{{ v.name }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Processor Name </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div *ngIf="!templateId; then showProcessor else hideProcessor"></div>
            <ng-template #showProcessor>
              <select formControlName="processorName">
                <option value="null">None</option>
                <option [value]="processor.label" *ngFor="let processor of adminDetails.valuesForProcessorName">
                  {{processor.value}}</option>
              </select> </ng-template>
            <ng-template #hideProcessor>
              <select formControlName="processorName" disabled>
                <option value="null">None</option>
                <option [value]="processor.label" *ngFor="let processor of adminDetails.valuesForProcessorName">
                  {{processor.value}}</option>
              </select>
            </ng-template>
          </td>
        </tr>
        <tr>
  
          <td>
            &nbsp;
          </td>
        </tr>
  
        <tr>
          <td class="inputkey">
            <div class="rightAlign"><a href="#">Sub Processor Name </a></div>
          </td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">
            <div *ngIf="!templateId; then showSubProcessor else hideSubProcessor"></div>
            <ng-template #showSubProcessor>
              <select formControlName="subProcessorName">
                <option value="null">None</option>
                <option [value]="subprocessor.label"
                  *ngFor="let subprocessor of adminDetails.valuesForSubProcessorName">{{subprocessor.value}}
                </option>
              </select> </ng-template>
            <ng-template #hideSubProcessor>
              <select formControlName="subProcessorName" disabled>
                <option value="null">None</option>
                <option [value]="subprocessor.label"
                  *ngFor="let subprocessor of adminDetails.valuesForSubProcessorName">{{subprocessor.value}}
                </option>
              </select>
            </ng-template>
          </td>
        </tr>
  
        <tr>
          <td>&nbsp;</td>
        </tr>
  
  
  
  
  
  
      </tbody>
    </table>
  
    <table class="formTable" *ngIf="showDetails">
      <tbody>
        <tr>
          <td class="rightAlign"><a href="#">List Of Issuers </a>
          </td>
          <td class="dragspace"></td>
          <td class="leftAlign"><a href="#"> Selected Issuers</a></td>
        </tr>
        <tr>
          <td class="rightAlign">
            <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Issuers">
              <option *ngFor="let issuer of banklist" [value]="issuer.bankName">{{issuer.bankName}}</option>
            </select>
          </td>
          <td class="dragspace">
            <table class="countryspace">
              <tbody>
                <tr>
                  <td></td>
                </tr>
                <tr>
                  <td class="middleAlign"><a (click)="addIssuers()">&gt;&gt;&gt;&gt;</a>
                  </td>
                </tr>
                <tr>
                  <td class="middleAlign"><a (click)="removeIssuers()">&lt;&lt;&lt;&lt;</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="leftAlign"><select style="WIDTH: 285px;" size="4" multiple="true" formControlName="slt_selIssuers">
              <option [value]="issuer" *ngFor="let issuer of selectedIssuers">
                {{issuer}}</option>
            </select></td>
        </tr>
  
      </tbody>
  
    </table>
    <br><br>
    <p id="head" *ngIf="showDetails">Action & Report Privileges for Administrator</p>
    <a href class="head" *ngIf="showDetails">Global Privileges</a>
    <table cellspacing="0" cellpadding="0" width="100%" class="formTable" *ngIf="showDetails">
        <tbody>
          <div *ngIf="!templateId; then showGlobalPrivileges else
    hideGlobalPrivileges"></div>
          <ng-template #showGlobalPrivileges>
            <tr *ngIf= "!templateId">
              <td width="35%">&nbsp;</td>
              <td width="5%"><input type="checkbox" [checked]="checked" (change)="allglobalPrivileges($event)"
                  formControlName="globalPrivs"></td>
              <td width="55%"><i>Select/De-Select All</i></td>
              <td width="5%"></td>
            </tr>
            <tr>
              <td width="35%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="55%">&nbsp;</td>
            </tr>
            <tr *ngFor="let privilege of globalPrivileges;">
              <td width="35%">&nbsp;</td>
              <td width="5%">
                <div><input type="checkbox" [checked]="privilege.checked" [formControlName]="privilege.privilegeId"></div>
              </td>
              <td width="55%">{{privilege.description}}</td>
              <td width="5%"></td>
            </tr>
          </ng-template>
          <ng-template #hideGlobalPrivileges>
            <tr>
              <td width="35%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="55%">&nbsp;</td>
            </tr>
            <tr *ngFor="let privilege of globalPrivileges;let index = i ">
              <td width="35%">&nbsp;</td>
              <td width="5%">
                <div><input type="checkbox" name="privileges" [checked]="privilege.checked" [formControlName]="privilege.privilegeId"
                    disabled>
                </div>
              </td>
              <td width="55%">{{privilege.description}}</td>
              <td width="5%"></td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <a href class="head" *ngIf="showDetails">Issuer Privileges</a>
      <table cellspacing="0" cellpadding="0" width="100%" class="formTable" *ngIf="showDetails">
        <tbody>
          <div *ngIf="!templateId; then showIssuerPrivileges else
    hideIssuerPrivileges"></div>
          <ng-template #showIssuerPrivileges>
            <tr  *ngIf = "!templateId">
              <td width="35%">&nbsp;</td>
              <td width="5%"><input type="checkbox" [checked]="checked" (change)="allIssuerPrivileges($event)"
                  formControlName="issuerPrivs"></td>
              <td width="55%"><i>Select/De-Select All</i></td>
              <td width="5%"></td>
            </tr>
            <tr>
              <td width="35%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="55%">&nbsp;</td>
            </tr>
            <tr *ngFor="let privilege of issuerPrivileges; let i = index">
              <td width="35%">&nbsp;</td>
              <td width="5%">
                <div><input type="checkbox" name="privileges" [checked]="privilege.checked" [formControlName]="i">
                </div>
              </td>
              <td width="55%">{{privilege.description}}</td>
              <td width="5%"></td>
            </tr>
          </ng-template>
          <ng-template #hideIssuerPrivileges>
            <tr>
              <td width="35%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="5%">&nbsp;</td>
              <td width="55%">&nbsp;</td>
            </tr>
            <tr *ngFor="let privilege of issuerPrivileges; let i = index">
              <td width="35%">&nbsp;</td>
              <td width="5%">
                <div><input type="checkbox"  [checked]="privilege.checked" [formControlName]="i" disabled>
                </div>
              </td>
              <td width="55%">{{privilege.description}}</td>
              <td width="5%"></td>
            </tr>
          </ng-template>
        </tbody>
      </table>
  
    <table class="countryspace" class="header" *ngIf="showDetails">
      <tbody>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
  
        <tr>
          <td class="inputkey" class="rightAlign">
            <img src="../../../assets/largesubmit.gif" onmouseout="this.src ='../../../assets/largesubmit.gif'"
              onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="updateGlobalAdmin()">
          </td>
          <td class="space">&nbsp;
          </td>
  
          <td class="inputvalue" class="leftAlign">
            <img src="../../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
              onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
          </td>
  
  
        </tr>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
      </tbody>
    </table>
  
    <table class="countryspace" *ngIf="showDetails">
      <tbody>
        <tr>
          <td colspan="4" class="rightAlign">
            <a href="http://www.ca.com" target="_blank">
              <img src="../../../assets/arcot_logo_PB.gif"></a>
          </td>
        </tr>
      </tbody>
    </table>
  
  
  
  
  </form>