<form [formGroup]="IssuerForm" (ngSubmit)="onIssuerSelect()">
  <div *ngIf="!showParametersForm">
    <table cellspacing="0" cellpadding="0" width="100%" class="header">
      <tbody>
        <tr>
          <td>&nbsp;
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pageTitle">Select an Issuer</div>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="10">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="10">
            <div class="description">Select an Issuer and click on submit to continue</div>
            <div class="errorMessage">{{errorMessage}}</div>
            <div class="successMessage"></div>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="17">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="17">
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
      <tbody>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%">
              <tbody>
                <tr>
                  <td width="48%" height="13" class="rightAlign">
                    <a>Issuer</a>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    <select formControlName="bankName">
                      <option value="0">----------- Select Issuer Name -----------</option>
                      <option *ngFor="let issuer of issuers" value={{issuer.bankCode}}>{{issuer.bankName}}</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30" nowrap="">
          </td>

        </tr>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0" width="100%">
              <tbody>
                <tr>
                  <td colspan="4" height="22">
                    <hr>
                  </td>
                </tr>
                <tr>
                  <td width="48%" class="submit_middle">
                    <img src="../../assets/largesubmit.gif" alt="Submit"
                      onmouseout="this.src ='../../../assets/largesubmit.gif'"
                      onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="onIssuerSelect()">
                  </td>
                <tr>
                  <td colspan="4" height="22">
                    <hr>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Parameters Form starts -->

  <div *ngIf="showParametersForm">
    <table cellspacing="0" cellpadding="0" width="100%" class="header">
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pageTitle">Issuer Configuration Parameters</div>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="10">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="10">
            <div class="description">Configure the appropriate values for the Issuer configuration parameters and click
              <b>Submit</b>.</div>
            <div class="errorMessage">{{errorMessage}}</div>
            <div class="successMessage"></div>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="17">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="17">
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" class="formTable" cellspacing="0" cellpadding="0" height="100">
      <input type="hidden" formControlName="formattedDate" value="YY:MM:DD">

      <!-- START OF IPGS STATUS & DATE ORDER FOR REPORT -->
      <tbody>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Default Report Display Parameters for Admin</b></td>
        </tr>
        <tr>

          <td width="48%" height="12" class="rightAlign"><a>Date Order for Report Generation</a></td>
          <td width="4%" height="12">&nbsp;</td>
          <td width="48%" height="12">&nbsp;
            <select formControlName="dateOrder">
              <option value="1">Month, Day and Year</option>
              <option value="2">Year, Month and Day</option>
              <option value="3">Day, Month and Year</option>
            </select>
          </td>
        </tr>
        <!-- END OF IPGS STATUS & DATE ORDER FOR REPORT -->


        <!-- START OF ALLOW REREGISTRATION & TIME STAMP FORMAT -->

        <tr>
          <td width="48%" height="21" class="rightAlign"><a>Time Stamp Format in Report</a> </td>
          <td width="4%" height="21">&nbsp;</td>
          <td width="48%" height="21">&nbsp;
            <select formControlName="timeStampFormat">
              <option value="yyyy-MM-dd hh:mm:ss a z" selected="">yyyy-MM-dd hh:mm:ss a z</option>

              <option value="MM-dd-yyyy hh:mm:ss a z">MM-dd-yyyy hh:mm:ss a z</option>

              <option value="dd-MM-yyyy hh:mm:ss a z">dd-MM-yyyy hh:mm:ss a z</option>

              <option value="yyyy/MM/dd hh:mm:ss a z">yyyy/MM/dd hh:mm:ss a z</option>

              <option value="MM/dd/yyyy hh:mm:ss a z">MM/dd/yyyy hh:mm:ss a z</option>

              <option value="dd/MM/yyyy hh:mm:ss a z">dd/MM/yyyy hh:mm:ss a z</option>

              <option value="dd-MM-yyyy HH:mm:ss z">dd-MM-yyyy HH:mm:ss z</option>

              <option value="dd/MM/yyyy HH:mm:ss z">dd/MM/yyyy HH:mm:ss z</option>
            </select>
          </td>
        </tr>
        <!-- END OF ALLOW REREGISTRATION & TIME STAMP FORMAT -->

        <!-- START OF RECORDS PER PAGE -->
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Records Per Page</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="recordsPerPage">
              <option selected="" value="10">10</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </td>
        </tr>
        <!-- END OF RECORDS PER PAGE -->

        <!-- START OF LINE SEPARATOR -->
        <tr>
          <td colspan="3" height="27">
            <hr>
          </td>
        </tr>
        <!-- end OF LINE SEPARATOR -->

        <!-- START OF LINK TO ARCOT HOME & DISPLAY ARCOT SYMBOL -->
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Admin Display Parameters</b></td>
        </tr>
        <tr>
          <td width="48%" class="rightAlign" height="17"><a>Link to CA Home</a></td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="symbolLink">

              <option value="1" selected="">Yes
              </option>
              <option value="0">No

              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Display CA Symbol</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="symbolDisplay">

              <option value="1" selected="">Yes </option>
              <option value="0">No </option>
            </select>
          </td>
        </tr>
        <!-- END OF LINK TO ARCOT HOME & DISPLAY ARCOT SYMBOL -->

        <!-- START OF LINE SEPARATOR -->
        <tr>
          <td colspan="3" height="27">
            <hr>
          </td>
        </tr>
        <!-- end OF LINE SEPARATOR -->

        <!-- START OF PASS PHRASE & RE-TYPE DU PASS PHRASE -->
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Data Upload Parameters</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>DU Passphrase </a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <input type="password" formControlName="passPhrase" value="" size="25" maxlength="25" autocomplete="off">
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Re-type DU Passphrase </a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <input type="password" formControlName="retypeDUPassPhrase" value="" size="25" maxlength="25"
              autocomplete="off">
          </td>
        </tr>
        <!-- END OF PASS PHRASE & RE-TYPE DU PASS PHRASE -->

        <!-- START OF LINE SEPARATOR -->
        <tr>
          <td colspan="3" height="27">
            <hr>
          </td>
        </tr>
        <!-- end OF LINE SEPARATOR -->


        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Cardholder Display Parameters (ACS-CAP)</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Date Format</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="dateFormat">

              <option value="MM:DD:YY">MM:DD:YY</option>
              <option value="DD:MM:YY">DD:MM:YY</option>
              <option value="YY:MM:DD">YY:MM:DD</option>
              <option value="YY:DD:MM">YY:DD:MM</option>
              <option value="MM:DD:YYYY">MM:DD:YYYY</option>
              <option value="DD:MM:YYYY">DD:MM:YYYY</option>
              <option value="YYYY:MM:DD">YYYY:MM:DD</option>
              <option value="YYYY:DD:MM">YYYY:DD:MM</option>

              <!-- "/" -->

              <!-- "-" -->


            </select>
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Date Separator</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="dateSeparator">
              <option value=":" selected="">:</option>
              <option value="/">/</option>
              <option value="-">-</option>
              <option value=".">.</option>
            </select>
          </td>
        </tr>


        <!-- START OF Upgraded CAP UI -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;User Interface Parameters for Client Authentication
              Pages
              (CAP)</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Support Upgraded CAP UI</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <input type="checkbox" [checked] = 'iSupportUpgradedCAPUI' formControlName="SupportUpgradedCAPUI">
          </td>
        </tr>
        <!-- END OF Upgraded CAP UI -->


        <!-- START OF LINE SEPARATOR -->
        <tr>
          <td colspan="3" height="27">
            <hr>
          </td>
        </tr>
        <!-- end OF LINE SEPARATOR -->

        <!-- START OF PASSWORD PARAMETERS -->


        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Cardholder Authentication Parameters</b></td>
        </tr>
        <tr>
          <td width="48%" class="rightAlign" height="17">
            <a>Temp Password Duration</a>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <input type="text" formControlName="tempPwdDuration" size="5" maxlength="3" value="2">
          </td>

        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Send Temporary Password to Card Holder</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'sendTempPasswordToCH'  formControlName="sendTempPasswordToCH">
          </td>
        </tr>

        <!-- Start of EnableAbridgedADs -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADS through Abridged
              Enrollment</b></td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Abridged ADS</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iEnableAbridgedADS' formControlName="EnableAbridgedADS">
          </td>
        </tr>
        <!-- End of EnableAbridgedADs -->

        <!-- Start of EnableAbridgedFYP -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FYP using Temporary
              Password</b>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Abridged FYP</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'checked' formControlName="enableAbridgedFyp">
          </td>
        </tr>
        <!-- End of EnableAbridgedFYP -->



        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action for Cardholder
              Authentication after failed login attempts</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Lock Account</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iPasswordUsagePolicy' formControlName="pwdUsagePolicy" >
          </td>
        </tr>


        <!-- START OF Enrollment Locking -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action for Cardholder status
              after failed Enrollment attempts</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enrollment Locking Policy</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="enrollmentLockingPolicy">
              <option selected="" value="0">No Operation</option>
              <option value="1">Block</option>
              <option value="2">Lock</option>
            </select>
          </td>
        </tr>
        <!-- END OF Enrollment Locking -->

        <!-- START OF MAXVALFORLASTPWDLIST -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last N Password Policy</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Number of last passwords to check</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="maxValForLastPwdList">

              <option selected="" value="0"> Disabled</option>

              <option value="1"> 1</option>

              <option value="2"> 2</option>

              <option value="3"> 3</option>

              <option value="4"> 4</option>

              <option value="5"> 5</option>

              <option value="6"> 6</option>

              <option value="7"> 7</option>

              <option value="8"> 8</option>

            </select>
          </td>
        </tr>
        <!-- END OF MAXVALFORLASTPWDLIST -->

        <!-- START OF MAX Chars to prompt for partial passwords  -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partial Password Policy</b>
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Number of characters
                of the password to be prompted</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <select formControlName="promptNPasswordCharacters">

              <option selected="" value="0"> Disabled</option>

              <option value="1"> 1</option>

              <option value="2"> 2</option>

              <option value="3"> 3</option>

              <option value="4"> 4</option>

              <option value="5"> 5</option>

              <option value="6"> 6</option>

              <option value="7"> 7</option>

              <option value="8"> 8</option>

              <option value="9"> 9</option>

              <option value="10"> 10</option>

              <option value="11"> 11</option>

              <option value="12"> 12</option>

              <option value="13"> 13</option>

              <option value="14"> 14</option>

              <option value="15"> 15</option>

              <option value="16"> 16</option>

              <option value="17"> 17</option>

              <option value="18"> 18</option>

              <option value="19"> 19</option>

              <option value="20"> 20</option>

              <option value="21"> 21</option>

              <option value="22"> 22</option>

              <option value="23"> 23</option>

              <option value="24"> 24</option>

            </select>
          </td>
        </tr>
        <!-- END OF MAX Chars to prompt for partial passwords -->

        <!-- Start of Block Simultaneous CH login -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simultaneous Card Holder
              Login</b></td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Block Simultaneous Card Holder Login</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iSimultaneousCHLogin' formControlName="simultaneousCHLogin">
          </td>
        </tr>
        <!-- End of Block Simultaneous CH login -->

        <!-- Start of Enrollment of locked card -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enrollment of locked card</b>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Allow enrollment of locked card</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iEnrollmentOfLockedCard' formControlName="enrollmentOfLockedCard">
          </td>
        </tr>
        <!-- End of Enrollment of locked card -->

        <!-- Start of PAReq Wait Time Buffer -->
        <tr>
          <td>&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAReq Wait Time Buffer</b></td>
        </tr>

        <tr>
          <td width="48%" class="rightAlign" height="17">
            <a>PAReq Wait Time Buffer</a>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">&nbsp;
            <input type="text" formControlName="pareqWaitTimeBuffer" size="5" maxlength="3" value="48">
          </td>
        </tr>
        <!-- End of PAReq Wait Time Buffer -->



        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Risk Analytics Parameters</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Risk Analytics</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iEnableRiskFort' formControlName="enableRiskFort" (change) = "enableFields($event.target.checked)">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Advice If Risk Analytics Is Unavailable</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!riskEnabled">
            <select formControlName="raDownHandleAction" disabled>
              <option value="-1">Not Configured</option>
              <option value="0">Deny</option>
              <option value="1">Allow</option>
              <option value="2">Increase Auth</option>
            </select>
          </td>
          <td width="48%" height="17" *ngIf = "riskEnabled">
            <select formControlName="raDownHandleAction">
              <option value="-1">Not Configured</option>
              <option value="0">Deny</option>
              <option value="1">Allow</option>
              <option value="2">Increase Auth</option>
            </select>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Intermediate Page</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!riskEnabled">
            <input type="checkbox" [checked] = 'iRFIntermediatePage' formControlName="RFIntermediatePage"  disabled>
          </td>
          <td width="48%" height="17" *ngIf = "riskEnabled">
            <input type="checkbox" [checked] = 'iRFIntermediatePage' formControlName="RFIntermediatePage" (change) = "activateFields($event.target.checked)">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Argus</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!fieldsEnable">
            <input type="checkbox" formControlName="ENABLEARGUS" [checked] = 'iEnableArgus'  disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "fieldsEnable">
            <input type="checkbox" formControlName="ENABLEARGUS" [checked] = 'iEnableArgus'>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Select Branding Template for Intermediate Page</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!fieldsEnable">

            <select formControlName="BrandRFIntermediatePage" disabled="">
              <option selected="" value="0">No Branding</option>
              <option value="1">Branded Template 1</option>
            </select>
          </td>
          <td width="48%" height="17" *ngIf = "fieldsEnable">

            <select formControlName="BrandRFIntermediatePage">
              <option selected="" value="0">No Branding</option>
              <option value="1">Branded Template 1</option>
            </select>
          </td>
        </tr>

        <tr>
          <td width="48%" class="rightAlign" height="17">
            <a>Cookie Type</a>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17" *ngIf = "!fieldsEnable">

            <select formControlName="cookieType" disabled="">
              <option value="1">HTTP Cookie</option>
              <option value="2">Local Storage</option>
              <option value="3">HTTP Cookie and Device DNA</option>
              <option value="4">Local Storage and Device DNA</option>
            </select>
          </td>
          <td width="48%" height="17" *ngIf = "fieldsEnable">
            <select formControlName="cookieType">
              <option value="1">HTTP Cookie</option>
              <option value="2">Local Storage</option>
              <option value="3">HTTP Cookie and Device DNA</option>
              <option value="4">Local Storage and Device DNA</option>
            </select>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Collect Extended Device DNA</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!fieldsEnable">
            <input type="checkbox" [checked] = 'iCollectMCDDNA' formControlName="CollectMCDDNA"  disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "fieldsEnable">
            <input type="checkbox" [checked] = 'iCollectMCDDNA' formControlName="CollectMCDDNA">
          </td>
        </tr>
        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Card Holder Logging</b></td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable VE Logging</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iVELOG' formControlName="VELOG">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable VEReq/PAReq Time Logging</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iLogVEReqPAReqTime' formControlName="LogVEReqPAReqTime">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Enable Transaction Data Logging</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iLogPreviousTxnDetails' formControlName="LogPreviousTxnDetails">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Log Risk Analytics Usage</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = "iLogRFStatus" formControlName="LogRFStatus">
          </td>
        </tr>





        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Case Management Parameters</b></td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign"><br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Analyst Assignment</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Auto Assignment</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iEnableCaseAutoAssignment' formControlName="EnableCaseAutoAssignment">
          </td>
        </tr>

        <tr>
          <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Case Prioritisation</b></td>
        </tr>


        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Auto Prioritisation</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'priority'  formControlName="autoAssignmentForPriority">
          </td>
        </tr>



        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Case Grouping in ACS</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'priority'  formControlName="caseGroupingForPriority" (change) = "enableCases($event.target.checked)">
          </td>
        </tr>



        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Consider closed cases while deciding Priority</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17"  *ngIf = "!caseEnabled">
            <input type="checkbox" [checked] = 'priority'  formControlName="includeClosedCases" disabled="">
          </td>
          <td width="48%" height="17"  *ngIf = "caseEnabled">
            <input type="checkbox" [checked] = 'priority'  formControlName="includeClosedCases">
          </td>
        </tr>



        <!-- END OF PASSWORD PARAMETERS -->

        <!-- START OF PIITYPE  -->

        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Cardholder Personally Identifiable Information
              (PII)</b>
          </td>
        </tr>

        <tr>
          <td height="17" width="48%">
            <div class="rightAlign"><a>Email Address PII Type</a></div>
          </td>
          <td height="17" width="4%">&nbsp;</td>
          <td height="17" width="48%">&nbsp;
            <select formControlName="emailPIIType">
              <option value="C">Clear</option>
              <option value="E">Encrypt</option>
            </select>
          </td>
        </tr>

        <tr>
          <td height="17" width="48%">
            <div class="rightAlign"><a>Personal Assurance Message(PAM) PII
                Type</a></div>
          </td>
          <td height="17" width="4%">&nbsp;</td>
          <td height="17" width="48%">&nbsp;
            <select formControlName="pamPIIType">
              <option value="C">Clear</option>
              <option value="E">Encrypt</option>
            </select>
          </td>
        </tr>

        <tr>
          <td height="17" width="48%">
            <div class="rightAlign"><a>Issuer Answers PII Type</a></div>
          </td>
          <td height="17" width="4%">&nbsp;</td>
          <td height="17" width="48%">&nbsp;
            <select formControlName="issuerAnsPIIType">
              <option value="E">Encrypt</option>
              <option value="H">Hash</option>
            </select>
          </td>
        </tr>

        <!-- END OF PIITYPE -->



        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>High Availability</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>High Availability with
                backup servers</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iHAWithBackupServers' formControlName="haWithBackupServers">
          </td>
        </tr>


        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>AuthMinder Parameters</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Mobile OTP Type</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="arcotOtpEnabled" (change) = "EnableAuthMinderFields($event.target.selectedIndex)">
              <option selected="" value="0">Disabled</option>
              <option value="1">MOBILEOTP-OATH</option>
              <option value="2">MOBILEOTP-EMV</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>AuthMinder Organization
                Name</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <input type="text" formControlName="authMinderOrgName" value="" size="25" maxlength="64" disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <input type="text" formControlName="authMinderOrgName" value="" size="25" maxlength="64">
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Mobile OTP Images
                Relative Path</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <input type="text" formControlName="arcotOtpImagesRelativePath" value="" size="25" maxlength="200"
              disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <input type="text" formControlName="arcotOtpImagesRelativePath" value="" size="25" maxlength="200">
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Mobile OTP Issuance Profile</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <input type="text" formControlName="arcotOTPProfileName" value="" size="25" maxlength="200" disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <input type="text" formControlName="arcotOTPProfileName" value="" size="25" maxlength="200" >
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>EMV Account Type</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <input type="text" formControlName="arcotEMVAccountType" value="" size="25" maxlength="200" disabled="">
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <input type="text" formControlName="arcotEMVAccountType" value="" size="25" maxlength="200" >
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>AuthMinder FailOver
                Option</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <select formControlName="authminderFailOverOptions" disabled="">
              <option value="2">Send a PAREs of U</option>
              <option value="1">Send a PARes of N</option>
              <option value="3">Send a PARes of A</option>
            </select>
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <select formControlName="authminderFailOverOptions" >
              <option value="2">Send a PAREs of U</option>
              <option value="1">Send a PARes of N</option>
              <option value="3">Send a PARes of A</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Max Non-Mobile OTP
                Transactions allowed for a CardHolder yet to provision Mobile OTP</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <table>
              <tbody>
                <tr>
                  <td *ngIf = "!authFields">
                    <input type="checkbox" [checked] = 'checked' formControlName="maxNonAOTPTxns" disabled="" >
                  </td>
                  <td *ngIf = "authFields">
                    <input type="checkbox" [checked] = 'checked' formControlName="maxNonAOTPTxns" >
                  </td>
                  <td *ngIf = "!authFields">
                    <input type="text" formControlName="maxTransactionsWithoutAOTPTemp" value="-1" size="5"
                      maxlength="2" disabled="">(00-99)
                  </td>
                  <td *ngIf = "authFields">
                    <input type="text" formControlName="maxTransactionsWithoutAOTPTemp" value="-1" size="5"
                      maxlength="2" >(00-99)
                  </td>
                  <td *ngIf = "!authFields">
                    <div id="maxNonAOTPTxnsLength" disabled="" style="display:none">(00-99)</div>
                  </td>
                  <td *ngIf = "authFields">
                    <div id="maxNonAOTPTxnsLength" style="display:none">(00-99)</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <input type="hidden" formControlName="maxTransactionsWithoutAOTP" value="-1" size="5" maxlength="2">

          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Display Activation
                Details</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17" *ngIf = "!authFields">
            <select formControlName="displayOptionalInfo" disabled="">
              <option selected="" value="0">Disable</option>
              <option value="1">Enable</option>
            </select>
          </td>
          <td width="48%" height="17" *ngIf = "authFields">
            <select formControlName="displayOptionalInfo" >
              <option selected="" value="0">Disable</option>
              <option value="1">Enable</option>
            </select>
          </td>
        </tr>

        <!-- Start of Suppress Contact Details Collection at Issuer Level Flag -->
        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Suppress CardHolder Contact Details Collection</b></td>
        </tr>
        <tr>
          <td width="40%" height="17">
            <div class="rightAlign"><a>Suppress CardHolder Contact Details Collection</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'suppressCHContactDetailsInput' formControlName="suppressCHContactDetailsInput" >
          </td>
        </tr>
        <!-- End of Suppress Contact Details Collection at Issuer Level Flag -->


        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>User Agent Check</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>User Agent Check Enabled</a>
            </div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="checkbox" [checked] = 'iUACheckEnabled' formControlName="uaCheckEnabled">
          </td>
        </tr>


        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Number of Allowable Password Tries during Change
              Password</b></td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Number of Allowable Password</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="maxChangePwdTries">

              <option selected="" value="0"> Disabled</option>

              <option value="1"> 1</option>

              <option value="2"> 2</option>

              <option value="3"> 3</option>

              <option value="4"> 4</option>

              <option value="5"> 5</option>

              <option value="6"> 6</option>

              <option value="7"> 7</option>

              <option value="8"> 8</option>

            </select>
          </td>
        </tr>

        <!--  Start of PBKDF2 Algorithm Select Box -->
        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Password Storage Algorithm</b></td>
        </tr>
        <tr>
          <td width="40%" height="17">
            <div class="rightAlign"><a>Password Storage Algorithm</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">

            <select formControlName="passwordStorageAlgorithm">


              <option value="2" >SHA1</option>



              <option value="4">SHA2</option>


            </select>
          </td>
        </tr>
        <!-- End of PBKDF2 Algorithm Select Box -->


        <!--  Start of Callout Auth Method Select Box -->
        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>Callout Authentication Parameters</b></td>
        </tr>
        <tr>
          <td width="40%" height="17">
            <div class="rightAlign"><a>Authentication Method used in Callout</a></div>
          </td>
          <td width="4%" height="17">&nbsp;</td>
          <td width="48%" height="17">
            <select formControlName="calloutAuthMethod">
              <option *ngFor = "let calloutvalue of callOutValues" value={{calloutvalue.id}} selected="">{{calloutvalue.value}}</option>
            </select>
          </td>
        </tr>
        <!--  End of Callout Auth Method Select Box -->

        <!--  Start of PSD2 Select Box -->

        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>PSD2</b></td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Strong Consumer Authentication (SCA)</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="ENABLESCA">
              <option selected="" value="NONE">NONE</option>
              <option value="ALL">ALL</option>
              <option value="EXPLICIT">EXPLICIT</option>
            </select>
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>Merchant Trusted Beneficiary</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <select formControlName="TRUSTEDBENEFICIARY">
              <option selected="" value="NONE">NONE</option>
              <option value="ALL">ALL</option>
              <option value="EXPLICIT">EXPLICIT</option>
            </select>
          </td>
        </tr>


        <!--  End of PSD2 Select Box -->

        <!--  Start AMDS Configuration -->

        <tr>
          <td colspan="4" height="30">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>AMDS Configuration</b></td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>PROVIDERNAME</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsProviderName" value="" size="25" maxlength="64">
          </td>
        </tr>



        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>FROM NUMBER</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsFromNumber" value="" size="25" maxlength="64">
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>FROM MAIL</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsFromEmail" value="" size="25" maxlength="64">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>APINAME</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsAPINAME" value="" size="25" maxlength="64">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>PROFILE MAIL</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsProfileEmail" value="" size="25" maxlength="64">
          </td>
        </tr>

        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>PROFILE PASSWORD</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="password" formControlName="amdsProfilePassword" value="" size="25" maxlength="64">
          </td>
        </tr>
        <tr>
          <td width="48%" height="17">
            <div class="rightAlign"><a>CUSTOMER ID</a></div>
          </td>
          <td width="4%" height="17">&nbsp; </td>
          <td width="48%" height="17">
            <input type="text" formControlName="amdsCustomerID" value="" size="25" maxlength="64">
          </td>
        </tr>
        <!--  End AMDS Configuration -->


      </tbody>
    </table>
    <!-- Submit Buttons -->
    <table cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
        <tr>
          <td width="48%" class="rightAlign">
            <img src="../../assets/largesubmit.gif" alt="Submit"
              onmouseout="this.src ='../../../assets/largesubmit.gif'"
              onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="configureParams()">
          </td>
          <td width="2%">&nbsp;
          </td>

          <td width="50%" class="leftAlign">
            <img src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
              onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>