<form [formGroup]="addFIinformationForm" (ngsubmit)="addFIinformation()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Add FI Information</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">Add FI/Card Range for Issuer.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td width="14">&nbsp;</td>
        <td class="rightAlign"><a href="#">Issuer</a> </td>
        <td> </td>
        <td>
          <select formControlName="bankName" >
            <option value="0" selected> ----------- Select Issuer Name ----------- </option>
            <option *ngFor="let issuer of issuers" [value]="issuer.value">{{issuer.label}}</option>
          </select>
        </td>
        <td> </td>
        <td class="rightAlign"><a href="#">Card Range Name</a> </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="CardRangeName" size="25" maxlength="65" value="">
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td width="14"> </td>
        <td width="140" alignclass="rightAlign"> <a href="#">Add to Range Group</a> </td>
        <td width="5">&nbsp;</td>
        <td width="208">
          <select formControlName="cardRangeGroup">
            <option [value]="cardrange.key" *ngFor="let cardrange of cardRangesGroup;let index=i"> {{cardrange.value}}
            </option>
          </select>
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign">&nbsp;</td>
        <td width="6">&nbsp;</td>
        <td width="210">
          &nbsp;
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>
      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign"><a href="#">Business ID</a> </td>
        <td width="5"> </td>
        <td width="208">
          <input type="text" formControlName="fiBusinessID" size="25" maxlength="8" value="">
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">FI Bin</a> </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="fiBIN" size="25" maxlength="6" value="">
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign"> <a href="#">Card Type</a>
        </td>
        <td width="5">&nbsp;</td>
        <td width="210">
          <select formControlName="cardType">
            <option value={{i+1}} *ngFor="let cardtype of cardTypelist let i = index">{{cardtype}}</option>
          </select>
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">PAN Length</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <select formControlName="panLength">
            <option [value]="panlength" *ngFor="let panlength of panLength">{{panlength}}</option>
          </select>
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign">
          <a href="#">BeginRange</a>
        </td>
        <td width="5">&nbsp;</td>
        <td width="208">
          <input type="text" formControlName="beginRange" size="25" maxlength="19" value="">
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">End Range</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="endRange" size="25" maxlength="19" value="">
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign"><a href="#">Term Policy Version</a></td>
        <td width="5">&nbsp;</td>
        <td width="208">
          <select formControlName="termPolicyVersion1">
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
          </select>.
          <select formControlName="termPolicyVersion2">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
          </select>
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"> <a href="#">Mobile Enabled</a></td>
        <td width="6"> </td>
        <td width="210">
          <select formControlName="mobileEnabled">
            <option value="1">Yes</option>
            <option value="0">No</option>
            <option value="2">Ask</option>
          </select>
        </td>
        <td width="15"> </td>
      </tr>
      <!-- START OF KEY modules-->
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">Signing Key Module</a>
        </td>
        <td width="5">&nbsp;</td>

        <td width="210">
          <select formControlName="signingKeyModule">
            <option [value]="sigingkey.key" *ngFor="let sigingkey of signingKeyModule">{{sigingkey.value}}</option>
          </select>
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign">
          <a href="#">Authentication Key Module</a>
        </td>

        <td width="6">&nbsp;</td>

        <td width="210">
          <select formControlName="authResultKeyModule">
            <!--  Added S/W by Goutama to fix the defect, DE313623 -->
            <option [value]="authkeys.key" *ngFor="let authkeys of authKeyModule">{{authkeys.value}}</option>
          </select>
        </td>

        <td width="15">&nbsp;</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">Chip KeyModule</a>
        </td>
        <td width="5">&nbsp;</td>

        <td width="210">
          <select formControlName="chipKeyModule">
            <option [value]="chipkeys.key" *ngFor="let chipkeys of chipKeyModule">{{chipkeys.value}}
            </option>
          </select>
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign">
          <a href="#">AAVAlgorithm</a>
        </td>
        <td width="6">&nbsp;</td>

        <td width="210">
          <select formControlName="AAVAlgorithm">
            <option [value]="aavalist.key" *ngFor="let aavalist of aAVAlgorithm">{{aavalist.value}}
            </option>
          </select>
        </td>

        <td width="15" colspan="5">&nbsp;</td>
      </tr>

      <!-- END OF KEY modules -->

      <!-- START OF MASTERCARD KEY ID AND KEY ALIAS -->
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">SecureCode KeyID</a>
        </td>
        <td width="5">&nbsp;</td>

        <td width="210">
          <select formControlName="mcKeyID">
            <option [value]="mckeys" *ngFor="let mckeys of mcKey">{{mckeys}}</option>
          </select>
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign">
          <a href="#">SecureCodeKey Alias</a>
        </td>

        <td width="6">&nbsp;</td>

        <td width="210">
          <input type="text" formControlName="mcKeyAlias" size="25" maxlength="55" value="">
        </td>

        <td width="15">&nbsp;</td>
      </tr>

      <!-- END OF MASTERCARD KEY ID AND KEY ALIAS -->

      <tr>

        <td width="14">&nbsp;</td>

        <td colspan="7">
          <hr>
        </td>
        <td width="15">&nbsp;</td>
      </tr>

      <tr>


      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">CAP Logo(Top Right)</a>
        </td>

        <td width="5">&nbsp;</td>

        <td width="208">
          <input type="text" formControlName="brandingURL1" size="25" maxlength="100" value="">
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign">
          <a href="#">CAP Logo(Top Left)</a>
        </td>

        <td width="6">&nbsp; </td>

        <td width="210">
          <input type="text" formControlName="brandingURL2" size="25" maxlength="100" value="">
        </td>

        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">ACS URL 1</a>
        </td>

        <td width="5">&nbsp;</td>

        <td width="208">
          <input type="text" formControlName="acsURL1" size="25" maxlength="100" value="">
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign">
          <a href="#">ACS URL 2</a>
        </td>

        <td width="6">&nbsp; </td>

        <td width="210">
          <input type="text" formControlName="acsURL2" size="25" maxlength="100" value="">
        </td>

        <td width="15">&nbsp;</td>
      </tr>
      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign"> <a href="#">ACS URL 3</a>
        </td>

        <td width="5">&nbsp;</td>

        <td width="208">
          <input type="text" formControlName="acsURL3" size="25" maxlength="100" value="">
        </td>

        <td width="17"> </td>

        <td width="152" class="rightAlign"><a href="#">ACS URL 4</a>
        </td>

        <td width="6">&nbsp; </td>

        <td width="210">
          <input type="text" formControlName="acsURL4" size="25" maxlength="100" value="">
        </td>

        <td width="15">&nbsp;</td>
      </tr>
      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign"> <a href="#">ACS URL 5</a>
        </td>

        <td width="5">&nbsp;</td>

        <td width="208">
          <input type="text" formControlName="acsURL5" size="25" maxlength="100" value="">
        </td>

        <td width="17"> </td>

        <td width="152"> </td>

        <td width="6">&nbsp; </td>

        <td width="210">
        </td>

        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <tr>

        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign"> <a href="#">ACSURL Parameters</a></td>

        <td width="5">&nbsp;</td>

        <td width="208">
          <input type="text" formControlName="CAPURLParameters" size="25" maxlength="1024" value="">
        </td>

        <td width="17"> </td>

        <td width="152"> </td>

        <td width="6">&nbsp; </td>

        <td width="210">
        </td>

        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>
      <tr>

        <td width="14">&nbsp;</td>

        <td width="120" class="rightAlign">
          <a href="#">SigningCertificate File</a>
        </td>
        <td width="5">&nbsp;</td>
        <td colspan="1">
          <input type="file" formControlName="signingCertFile" (change)="fileConversiontobyteArray($event)" placeholder="Upload file" >
        </td>

        <td width="6"> </td>

        <td width="120" class="rightAlign">
          <a href="#">ReceiptServer URL</a>
        </td>
        <td width="5">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="ahsReceiptURL" size="25" maxlength="100" value="">
        </td>
        <td width="15"> </td>
      </tr>

      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <tr>
        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">Authentication Options</a> </td>
        <td width="5"> </td>
        <td width="208">
          <input type="checkbox" formControlName="authSelect" value="checkbox" checked="">
          Select
          <input type="checkbox" formControlName="authFallback" value="checkbox">
          Fallback </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign">
          <a href="#">Max AuthTries</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <select formControlName="maxAuthTries">

            <option value="1">1</option>

            <option value="2">2</option>

            <option value="3">3</option>

            <option value="4">4</option>

            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

            <option value="9">9</option>

            <option value="10">10</option>

          </select>
        </td>

        <td width="15">&nbsp;</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">Authentication Priority</a>
        </td>
        <td width="5"> </td>
        <td width="208">
          <select formControlName="authPriority">
            <option [value]="authpriority.key" *ngFor="let authpriority of authPriority">{{authpriority.value}}</option>
          </select>
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign">
          <a href="#">Max Auth Tries Across Sessions</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="checkbox" formControlName="nStrikesAcrossSessions" value="1">
        </td>

        <td width="15"> </td>

      </tr>


      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="14">&nbsp;</td>
        <td width="152">
          <!-- <div class="rightAlign">
                <a href="#" >Mobile OTP Enabled</a>
              </div> -->
        </td>
        <td width="5"> </td>
        <td width="152">
          <!-- <input id="arcotOtpEnabled" type="checkbox" name="arcotOtpEnabled" value="1" checked="" disabled=""> -->
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign">
          <a href="#">Max AuthTries For Auto FYP</a>
        </td>
        <td width="6"></td>
        <td width="210">
          <select name="maxAuthTriesForFYP">
            <option value="0">0</option>

            <option value="1">1</option>

            <option value="2">2</option>

            <option value="3">3</option>

            <option value="4">4</option>

            <option value="5">5</option>

            <option value="6">6</option>

            <option value="7">7</option>

            <option value="8">8</option>

            <option value="9">9</option>

          </select>
        </td>
        <td width="15">&nbsp;</td>
      </tr>

      <!-- CHIP CARD AND PLUGIN URL-->
      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign"><a href="#">Chip Card</a>
        </td>
        <td width="5"> </td>
        <td width="208">
          <input type="checkbox" formControlName="authMethod" value="1">
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">Plugin URL</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="208">
          <input type="text" formControlName="pluginURL" size="25" maxlength="100" value="">
        </td>
        <td width="15">&nbsp;</td>
      </tr>

      <!--SMART ACCESS AND PLUGIN NAME-->

      <tr>
        <td width="14">&nbsp;</td>
        <td width="152" class="rightAlign"><a href="#">Smart Access Required</a></td>
        <td width="5"> </td>
        <td width="208">
          <input type="checkbox" formControlName="eAccess" value="1">
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">Plugin Name</a></td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="pluginName" size="25" maxlength="100" value="">
        </td>
        <td width="15">&nbsp;</td>

      </tr>
      <!--HSM VARIANT AND PLUGIN VERSION-->
      <tr>
        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign"> <a href="#">HSM Variant</a> </td>
        <td width="5"> </td>
        <td width="208">
          <input type="text" formControlName="hsmVariant" size="25" maxlength="55" value="">
        </td>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">Plugin Version</a></td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="pluginVersion" size="25" maxlength="20" value="">
        </td>
        <td width="15"> </td>
      </tr>

      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <!--KEY A and KEY B begin-->
      <tr>
        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">CVV/CVC2 Key A</a>
        </td>
        <td width="5"> </td>
        <td width="208">
          <input type="text" formControlName="cvvKeyA" size="40" maxlength="40" value="">
        </td>
        <td width="17"> </td>
        <td width="140" class="rightAlign">
          <a href="#">CVV/CVC2 Key B</a>
        </td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="cvvKeyB" size="40" maxlength="40" value="">
        </td>
        <td width="15"> </td>
      </tr>
      <!--KEY A and KEY B end-->

      <!--CVV Key Indicator begin-->
      <tr>
        <td width="14">&nbsp;</td>

        <td width="140" class="rightAlign">
          <a href="#">CVV Key Indicator</a>
        </td>
        <td width="5"> </td>
        <td width="208">
          <input type="text" formControlName="CVVKEYIND" size="2" maxlength="2" value="">&nbsp;&nbsp;(01-99)
        </td>
        <td width="17"> </td>

        <td width="140" class="rightAlign">
          <a href="#">Password Change Velocity</a></td>
        <td width="6"></td>
        <td width="50">
          <input type="text" formControlName="passwordChangeVelocity" size="5" maxlength="5" value="0">&nbsp;mins.
        </td>

        <td width="10">

        </td>
        <td width="15">&nbsp;</td>
      </tr>

      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <!--CVV Key Indicator end-->

      <!-- Password Change Velocity begin-->



      <!-- Password Change Velocity end-->


      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>


      <tr>
        <td width="14">&nbsp;</td>
        <td colspan="7">
          <hr>
        </td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="9">&nbsp;</td>
      </tr>

      <!--ENROLL OPTIONS AND MAX DECLINES-->
      <tr>
        <td width="14">&nbsp;</td>
        <td width="152" class="rightAlign">
          <a href="#">ADS Option</a>
        </td>
        <td width="5"> </td>
        <td width="208">
          <select formControlName="enrollOption">
            <option [value]="enrolloption.key" *ngFor="let enrolloption of enrollOptions">{{enrolloption.value}}</option>
          </select>
          <input type="hidden" formControlName="ActualMaxWelcome" [value]="defaultvalue" >
          <input type="hidden" formControlName="ActualMaxDecline" [value]="defaultvalue" >
        </td>
        <td width="5"> </td>

        <td width="140" class="rightAlign"><a href="#">Attempts in Backup mode</a> </td>

        <td width="5">&nbsp;</td>
        <td width="208">
          <input type="checkbox" formControlName="backupattempts" value="2" disabled="">
        </td>
      </tr>

      <!--MaxWelcomes-->
      <tr>
        <td width="17"> </td>
        <td width="152" class="rightAlign"><a href="#">Max
            Declines</a></td>
        <td width="6">&nbsp;</td>
        <td width="210">
          <input type="text" formControlName="maxDeclines" size="25" maxlength="32" value="" disabled="">
        </td>


        <!--VE Logging-->
        <td width="5"> </td>

        <td width="140" class="rightAlign"><a href="#">Enable VE Logging</a> </td>

        <td width="5">&nbsp;</td>
        <td width="208">
          <input type="checkbox" formControlName="velogging" value="1">
        </td>

        <td width="17"> </td>
        <td width="152"> </td>
        <td width="6">&nbsp; </td>
        <td width="210">
        </td>

        <td width="15">&nbsp;</td>
      </tr>

      <!-- XFB-135 : Perform Attempts Processing when card holder exceeds max declines -->

      <tr>
        <td width="14">&nbsp;</td>
        <td width="140" class="rightAlign"> <a href="#">Max Welcome</a></td>
        <td width="5">&nbsp;</td>
        <td width="208">
          <input type="text" formControlName="maxWelcome" size="25" maxlength="32" value="" disabled="">
        </td>
        <td colspan="5">
          &nbsp;<a href="#">Enable Attempts after MaxDeclines</a>
          &nbsp;<input type="checkbox" formControlName="EnableAttemptsAfterMaxDeclines" disabled="">
        </td>
      </tr>
      <!-- End of XFB-135 -->

      <!--  Start PSD2 Configuration -->
      <tr>
        <td colspan="9" height="30">
          <hr>
        </td>
      </tr>
      <tr>
        <td width="14">&nbsp;</td>
        <td width="152" height="17" class="rightAlign"><a href="#">Strong
            Consumer Authentication (SCA)</a></td>
        <td width="5" height="17"> </td>
        <td width="208" height="17">
          <input type="checkbox" formControlName="enableSCA" value="1">
        </td>
        <td width="17" height="17"> </td>
        <td width="152" height="17" class="rightAlign"><a href="#">Merchant Trusted Beneficiary</a></td>
        <td width="5" height="17"></td>
        <td width="208" height="17">
          <input type="checkbox" formControlName="trustedBeneficiary" value="1">
        </td>
      </tr>
      <tr>
        <td colspan="9" height="30"><hr></td>
     </tr>
     <tr>
      <td colspan="9" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>AMDS Configuration</b></td>
    </tr>
    <tr>
      <td width="14">&nbsp;</td>
       <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" onclick="openAppendix('PROVIDERNAME');">PROVIDERNAME</a></div></td>
      <td width="5" height="17">&nbsp;</td>
      <td width="208" height="17">
        <input type="text" formControlName="amdsProviderName" value="" size="25" maxlength="64">        
      </td>
       <td colspan="5"></td>
 </tr>
 <tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" onclick="openAppendix('FROMNUMBER');">FROM NUMBER</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
    <input type="text" formControlName="amdsFromNumber" value="" size="25" maxlength="64">               
  </td>
   <td colspan="5"></td>
</tr>
<tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" >FROM MAIL</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
    <input type="text" formControlName="amdsFromEmail" value="" size="25" maxlength="64">        
  </td>
   <td colspan="5"></td>
</tr>
<tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" >APINAME</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
    <input type="text" formControlName="amdsAPINAME" value="" size="25" maxlength="64">         
  </td>
   <td colspan="5"></td>
</tr>
<tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" >PROFILE MAIL</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
     <input type="text" formControlName="amdsProfileEmail" value="" size="25" maxlength="64">             
  </td>
   <td colspan="5"></td>
</tr>
<tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#">PROFILE PASSWORD</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
    <input type="password" formControlName="amdsProfilePassword" value="" size="25" maxlength="64">        
  </td>
   <td colspan="5"></td>
</tr>
<tr>
  <td width="14">&nbsp;</td>
   <td width="140" height="17" class="rightAlign"> <div class="rightAlign"><a href="#" >CUSTOMER ID</a></div></td>
  <td width="5" height="17">&nbsp;</td>
  <td width="208" height="17">
      <input type="text" formControlName="amdsCustomerID" value="" size="25" maxlength="64">               
  </td>
   <td colspan="5"></td>
</tr>
      <tr>
        <td colspan="9" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>
            <table class="formTable">
              <tbody>
                <tr>
                  <td>&nbsp;
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <hr>
                  </td>
                </tr>
                <tr>
                  <td width="48%" class="rightAlign">
                    <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
                      onmouseout="this.src ='../../../assets/largesubmit.gif'"
                      onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="addFIInformation()">
                  </td>
                  <td width="2%">&nbsp;
                  </td>

                  <td width="50%" class="leftAlign">
                    <img name="cancel" src="../../assets/largecancel.gif"
                      onmouseout="this.src ='../../../assets/largecancel.gif'"
                      onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
                  </td>

                </tr>
                <tr>
                  <td colspan="3">
                    <hr>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                  </td>
                </tr>
              </tbody>
            </table>
          </b></td>
      </tr>
    </tbody>
  </table>
</form>