<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <div>
      <a class="navbar-brand" ><img src="../../assets/HeaderLogo.gif" alt=""></a>
    </div>
    <div id="menu">
      <div>
        <ul class="navbar-nav" class = "profileStat">
          <li >
            <p style=" font-size: 13px;"><b>Name: <span class = "adminInfo">{{loginedUsername}} </span> Last Logon Time : <span
                  class = "adminInfo"> 2019/06/28 11:34:18 AM  IST </span> Password Never Expires </b>
            </p>
          </li>
  
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink = "/change_password"><u> Change Password</u></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/update_profile"><u> Update Profile</u></a>
        </li>
        <li class="nav-item">
          <table>
            <tr>
              <td>
                <label class="nav-link" for="sel1">Locale &nbsp;&nbsp;  </label>
              </td>
              <td>
                <select>
                  <option value="14"> Thai-Thailand </option>
                  <option value="13"> French-Canada </option>
                  <option value="12"> Spanish-North America </option>
                  <option value="11"> Portuguese-Portugal </option>
                  <option value="10"> Italian-Italy </option>
                  <option value="9"> Turkish-Turkey </option>
                  <option value="8"> Chinese-Taiwan </option>
                  <option value="7"> Korean-Korea </option>
                  <option value="6"> Japanese-Japan </option>
                  <option value="5"> French-France </option>
                  <option value="4"> German-Germany </option>
                  <option value="3"> English-United Kingdom </option>
                  <option value="2"> Spanish-Spain </option>
                  <option value="1" selected=""> English-United States </option>
                </select>
              </td>
            </tr>
          </table>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/help"><u> Help</u></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" (click) = "doLogout()" ><u> Logout</u></a>
        </li>
      </ul>
    </div>
  
  </nav>
