<form [formGroup]="updateForm" class="global" (ngSubmit)="updateProfile()">
  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="3" >
          <table class="formTable">
            <tbody>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="pageTitle">Update Profile</div>
                </td>
              </tr>
              <tr>
                <td colspan="3" >
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" >
                  <div class="description">Edit the personal information below and click on 
                    <b>Submit</b>.</div>
                  <div class="errorMessage">{{errorMessage}}</div>
                  <div class="successMessage"></div>
                </td>
              </tr>
              <tr>
                <td colspan="3" >
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" >
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr class="side-heading">
        <td colspan="3">
          &nbsp; <b> Personal Information</b>
        </td>
      </tr>
      <tr >
        <td class="inputkey">
          <div class="rightAlign">Name</div>
        </td>
        <td class="space">&nbsp;</td>
        <td>
          {{name}}
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a>Job Title</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="jobTitle" size="25" value="" maxlength="30">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Supervisor Name</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="supervisorName" size="25" value="" maxlength="30">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Email Address</a>
            <span class="errorMessage"></span>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminEmailAddress" size="25" value="" maxlength="100">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Phone Number</a>
            <span class="errorMessage"></span>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminPhoneNumber" size="25" value="" maxlength="15">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          Phone number should start with country ISD code and should not contain any special characters or spaces.
          <br>Example 14089691111 where 1 is the Country Code and 4089691111 is the Mobile Number with the Area code.
        </td>
      </tr>

      <tr *ngIf="!showPassword">
        <td class="inputkey">
          <div class="rightAlign"><a> Password</a>&nbsp;<font color="red"> *</font>&nbsp;</div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputkey">
          <input type="password" formControlName="currentpassword" size="25" maxlength="25" autocomplete="off">
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a>Hint Question</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminHintQuestion" size="25" value="" maxlength="100">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Hint Answer</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="password" formControlName="adminHintAnswer1" size="25" value="" maxlength="25"
            autocomplete="off">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Confirm Hint Answer</a>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="password" formControlName="adminHintAnswer2" size="25" value="" maxlength="25"
            autocomplete="off">
        </td>
      </tr>
      <tr>
        <td colspan="3">
          &nbsp;
        </td>
      </tr>

      <tr class="side-heading" *ngIf="showReports">
        <td colspan="3">
          &nbsp; <b> Report Preferences </b>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Records Per Page</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <select formControlName="recordsPerPage">
            <option value="0">--</option>
            <option value="10">10</option>
            <option selected="" value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Start Date Offset</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="radio" formControlName="startdate" value="1">first day of the current month<br>
          <input type="radio" checked="" formControlName="startdate" value="2">


          <input type="text" formControlName="startDateOffset" size="5" maxlength="3" value="0">
          days before current date
        </td>
      </tr>

      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Locale</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <!-- <select formControlName="adminLocale">
            <option [value]="locale" *ngFor="let locale of locales"> {{locale}} </option>
          </select> -->
          <select formControlName="adminLocale">
              <option value="th_TH"> Thai-Thailand </option>
              <option value="fr_CA"> French-Canada </option>
              <option value="es_MX"> Spanish-North America </option>
              <option value="pt_PT"> Portuguese-Portugal </option>
              <option value="it_IT"> Italian-Italy </option>
              <option value="tr_TR"> Turkish-Turkey </option>
              <option value="zh_TW"> Chinese-Taiwan </option>
              <option value="ko_KR"> Korean-Korea </option>
              <option value="ja_JP"> Japanese-Japan </option>
              <option value="fr_FR"> French-France </option>
              <option value="de_DE"> German-Germany </option>
              <option value="en_UK"> English-United Kingdom </option>
              <option value="es_ES"> Spanish-Spain </option>
              <option value="en_US" selected=""> English-United States </option>
            </select>
        </td>
      </tr>

      <tr *ngIf="showReports">
        <td >
          <div class="rightAlign"><a>Local Time Zone</a> </div>
        </td>
        <td >&nbsp;</td>
        <td  class="inputvalue">
          <select formControlName="localTimeZone">
            <option *ngFor="let timeZone of timeZones" [value]="timeZone.value">{{timeZone.timeZoneName}}</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td >
          <div class="rightAlign"><a>Date Order for Report Generation</a>
          </div>
        </td>
        <td >&nbsp;</td>
        <td  class="inputvalue">
          <select formControlName="timeStampFormat">
            <option *ngFor="let timeStamp of timeStampList" [value]="timeStamp">{{timeStamp}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="3" >
          <hr>
        </td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="updateProfileAtlogin()">
        </td>
        <td class="space">&nbsp;
        </td>

        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>

      </tr>
      <tr>
        <td colspan="3" >
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" >
          <table class="formTable">
            <tbody>
              <tr>
                <td colspan="4" class="rightAlign">
                  <a href="http://www.ca.com" target="_blank">
                    <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</form>