<!-- <p *ngIf="showPage" >{{this.message}}</p> -->
<form [formGroup]="resetIssuerAdminPassword" (ngsubmit)="ResetIssuerAdminPassword()" class="global" *ngIf="statusInactive">
  
  <table cellspacing="0" cellpadding="0" width="100%" *ngIf = "showHeader">
    <tbody>
      <tr>
        <td>
          <table class="header">
            <tbody>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  <div class="pageTitle">Reset Issuer Administrator Password</div>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="description" >Select a User ID <span *ngIf="adminSelection && admindetails">, reset the password</span> and click <b>Submit.</b></div>
                  <div class="errorMessage">{{errorMessage}}</div>
                  <div class="successMessage"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="formTable" *ngIf = "showHeader">
            <tbody>
              <tr>
                <td class="dragspace">&nbsp;</td>
                <td class="dragspace">&nbsp;</td>
                <td class="dragspace">&nbsp;</td>
                
                <td class="rightAlign"><a href="#">Issuer</a></td>
                <td class="leftAlign"><select formControlName="issuer"
                    (change)="onChangeIssuer($event.target.selectedIndex)">
                    <option value="0" selected="">--</option>
                    <option *ngFor="let admin of admins" [value]="admin.bankCode">{{admin.bankName}}</option>

                  </select></td>
                <td>&nbsp;</td>
              </tr>
              <tr *ngIf="adminSelection">
                <td class="dragspace">&nbsp;</td>
                <td class="dragspace">&nbsp;</td>
                <td class="dragspace">&nbsp;</td>

                <td class="rightAlign"><a href="#">User ID</a></td>
                <td class="leftAlign"><select formControlName="Admins"
                    (change)="onChangeAdmins($event.target.selectedIndex)">
                    <option value="1" >--</option>
                    <option *ngFor="let user of issuerdata" [value]="user.name">{{user.name}}</option>

                  </select></td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr *ngIf="admindetails && !collectDeatils">
        <td>
          <div id="head">Enter twice the new password and a remark</div>
        </td>
      </tr>
      <tr *ngIf="admindetails && !collectDeatils">
        <td>
          <table class="formTable" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>

              <tr>
                <td class="checkboxspace">&nbsp;</td>

                <td class="rightAlign"><a>New Password</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="password" formControlName="newPassword" autocomplete="off">
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="checkboxspace">&nbsp;</td>

                <td class="rightAlign"><a>Re-type Password</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="password" formControlName="retypeNewpassword" autocomplete="off">
                </td>
              </tr>
              <input type="hidden" formControlName="changePwdAtLogin" value="true">
              <tr>
                <td class="checkboxspace">&nbsp;</td>

                <td class="rightAlign"><a href="#">Remarks</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="text" formControlName="remark" maxlength="256" value="">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>

      <div id="head" *ngIf="admindetails && collectDeatils">Enter a remark</div>
  <br>

      <table class="formTable" *ngIf="admindetails && collectDeatils">
        <tbody>
    
          <tr>
            <td width="10%">&nbsp;</td>
            <td class="rightAlign" width="30%">
    
              <input type="checkbox" formControlName="emailCheck" disabled="" readonly="">
    
              <a href="#">Email Address</a>
              <span class="errorMessage">*</span>&nbsp;</td>
    
            <td class="leftAlign">
              <input type="text" formControlName="emailAddr" autocomplete="off" disabled="" value="">
            </td>
            <td>&nbsp;</td>
          </tr>
    
          <tr>
            <td width="10%">&nbsp;</td>
            <td width="30%" class="rightAlign">
    
              <input type="checkbox" formControlName="phoneCheck" disabled="" readonly="">
    
    
              <a href="#">Phone Number</a>
              <span class="errorMessage">&nbsp;&nbsp;</span></td>
    
            <td class="leftAlign">
              <input type="text" formControlName="phoneNum" autocomplete="off" disabled="" value="">
            </td>
            <td>&nbsp;</td>
          </tr>
    
    
          <tr>
            <td>&nbsp;</td>
            <td class="rightAlign"><a>Remarks</a>&nbsp;</td>
            <td class="leftAlign">
              <input type="text" formControlName="remark" maxlength="256">
            </td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>


      <tr>
        <td>
          <table class="countryspace" *ngIf="admindetails">
            <tbody>
              <tr>
                <td colspan="4">
                  <hr>
                </td>
              </tr>
              <tr>
                <td class="inputkey" class="rightAlign">
                  <img src="../../assets/largesubmit.gif" alt="Submit"
                    onmouseout="this.src ='../../../assets/largesubmit.gif'"
                    onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="ResetIssuerAdminPassword()">
                </td>
                <td class="space">&nbsp;
                </td>

                <td class="inputvalue" class="leftAlign">
                  <img src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
                    onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <hr>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="countryspace" *ngIf="admindetails">
            <tbody>
              <tr>
                <td colspan="4" class="rightAlign">
                  <a href="http://www.ca.com" target="_blank">
                    <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>

    </tbody>
  </table>
</form>

<div *ngIf="!statusInactive" class="formTable" class="message">
  You can not reset the Administrator's password because status is inactive.
</div>
<div *ngIf="showContactMessage" class="formTable" class="message">
  The OTP could not be delivered to the Email Address and Phone number.
</div>