<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="3">

        <table cellspacing="0" cellpadding="0" width="100%" >
          <tbody>
            <tr>
              <td>&nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="pageTitle">Configure Global Administrator Policy</div>
              </td>
            </tr>
            <tr>
              <td colspan="3" height="10">
                <hr>
              </td>
            </tr>
            <tr>
              <td colspan="3" height="10">
                <div class="description">Configure the appropriate values for the Administrator parameters and click
                  <b>Submit</b>.</div>
                <div class="errorMessage"></div>
                <div class="successMessage"></div>
              </td>
            </tr>
            <tr>
              <td colspan="3" height="17">
                <hr>
              </td>
            </tr>
            <tr>
              <td colspan="3" height="17">
              </td>
            </tr>
          </tbody>
        </table>


      </td>
    </tr>
  </tbody></table>
    <table width="100%" cellspacing="0" cellpadding="0" class="formTable">
        <tbody>

    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#" >Failed Login Attempts
            Allowed
          </a></div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign"><a href=""></a>Per Session</div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>
        <select formControlName="MaxTriesPerSession">
          <option value="-1">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign"><a href=""> </a>Across Sessions</div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>
        <select formControlName="MaxTriesAcrossSession">
          <option value="-1">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#" >Password Length</a></div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>&nbsp; </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum</div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>
        <select formControlName="MinLength">
          <option value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option selected="" value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign">Maximum</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MaxLength">
          <option value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option selected="" value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#" >Password Format Restriction</a>
        </div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>&nbsp; </td>
    </tr>

    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum Numeric</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MinNumeric">
          <option selected="" value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum Alphabets</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MinAlphabet">
          <option value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option selected="" value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>

    <!-- START OF MINIMUM SPECIAL CHARACTERS -->
    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum Special Characters</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MinSpecialCharacters">
          <option selected="" value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <!-- END OF MINIMUM SPECIAL CHARACTERS -->
    <!-- START OF MINIMUM UPPER CASE -->
    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum Upper Case Alphabets</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MinUpperCaseCharacters">
          <option selected="" value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <!-- END OF MINIMUM Upper CASE -->
    <!-- START OF MINIMUM LOWER CASE -->
    <tr>
      <td width="50%">
        <div class="rightAlign">Minimum Lower Case Alphabets</div>
      </td>
      <td width="2%">
        <div class="leftAlign"></div>
      </td>
      <td>
        <select formControlName="MinLowerCaseCharacters">
          <option selected="" value="0">--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
        </select>
      </td>
    </tr>
    <!-- END OF MINIMUM LOWER CASE -->



    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#">Password Renewal
            Frequency</a></div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>

        <input type="text" formControlName="PasswordRenewalFrequency" value="" maxlength="3" size="3">
        (days) </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#" >Maximum Inactivity Period</a>
        </div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>

        <input type="text" name="MaxInactivityPeriod" value="" size="3" maxlength="3">
        (days) </td>
    </tr>


    <tr>
      <td width="50%">
        <div class="rightAlign"><a href="#" >Allow admin to reset password
            after expiry</a></div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>

        <input type="checkbox" formControlName="AllowPasswordReset" size="3" maxlength="3">
      </td>
    </tr>


    <tr>
      <td>
        <div class="rightAlign"><a href="#">Login session timeout</a>
        </div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>

        <input type="text" formControlName="loginSessionTimeout" value="0" maxlength="3" size="3">
        (minutes) </td>

    </tr>

    <tr>
      <td>
        <div class="rightAlign"><a href="#" >Password Storage
            Algorithm</a></div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>



        <select formControlName="passwordStorageAlgorithm">

          <option value="0" selected="">SHA1</option>

          <option value="1">SHA2</option>

          <option value="2">Admin to decide</option>

        </select>
      </td>
    </tr>


    <tr>
      <td>
        <div class="rightAlign"><a href="#" >Password Change
            Velocity</a></div>
      </td>
      <td width="2%">&nbsp;</td>
      <td>
        <input type="text" formControlName="passwordChangeVelocity" value="0" maxlength="4" size="3">
        (minutes) </td>

    </tr>


    <tr>
      <td colspan="3" height="22">
        <hr>
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div class="rightAlign">
          <a href="#"  onmouseover="RollOver('next'); return true"
            onmouseout="RollOut('next')">
            <img name="next" src="../../../assets/largesubmit.gif" alt="Submit"></a>
        </div>
      </td>
      <td>
        <div class="rightAlign"> </div>
      </td>
      <td>

        <a href="../admin/mainframe.jsp" onmouseover="RollOver('cancel'); return true" onmouseout="RollOut('cancel')">
          <img name="cancel" src="../../../assets/largecancel.gif" alt="Cancel"></a>

      </td>
    </tr>
    <tr>
      <td colspan="3" height="22">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="3" height="22">
        <table cellspacing="0" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <td colspan="4" class="rightAlign">
                <a href="http://www.ca.com" target="_blank">
                  <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>

  </tbody>
</table>