<form [formGroup]="updateIssuerAdminPrivilegesForm" (ngsubmit)="updateIssuerAdminPrivileges()" class="global">


  <table class="countryspace">
    <tbody>
      <tr>
        <td>
          <table class="header">
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <div class="pageTitle">Update Issuer Administrator Privileges</div>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="description">Select User ID, check the appropriate privileges and click
                    <b>Submit<b>.</b></b></div><b><b>
                      <div class="errorMessage">{{errorMessage}}</div>
                      <div class="successMessage"></div>
                    </b></b>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          <table class="formTable">
            <tbody>
              <tr>
                <td class="updatespace"></td>
                <td class="dragspace"></td>
                <td class="checkboxspace"></td>
                <td class="space"></td>

                <td class="rightAlign"><a>Issuer</a></td>
                <td class="leftAlign">
                  <select formControlName="issuer" (change)="onChangeIssuer($event.target.selectedIndex)">
                    <option value="None">--</option>
                    <option *ngFor="let bank of banks" [value]="bank.bankCode">{{bank.bankName}}</option>
                  </select>
                </td>
              </tr>
              <br>
              <tr *ngIf="issuerSelected">
                <td class="updatespace"></td>
                <td class="dragspace"></td>
                <td class="checkboxspace"></td>
                <td class="space"></td>

                <td class="rightAlign"><a>User ID</a></td>
                <td class="leftAlign">
                  <select formControlName="Admins" (change)="onChangeAdmins($event.target.selectedIndex)">
                    <option value="None">--</option>
                    <option *ngFor="let admin of admins" [value]="admin.name">{{admin.name}}</option>
                  </select>
                </td>
              </tr>
              <br>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table class="formTable" *ngIf="adminSelected && issuerSelected">
            <tbody>
              <tr>

                <td class="rightAlign"><a>First Name</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="text" formControlName="firstNameClear" maxlength="30" size="25" value="">
                </td>
              </tr>
              <tr>
                <td class="rightAlign"> <a>Middle Name</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="text" formControlName="middleNameClear" maxlength="30" size="25" value="">
                </td>
              </tr>
              <tr>
                <td class="rightAlign"><a>Last Name</a>&nbsp;</td>
                <td class="leftAlign">
                  <input type="text" formControlName="lastNameClear" maxlength="30" size="25" value="">
                </td>

              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="rightAlign"><a>Description</a> &nbsp;</td>
                <td class="leftAlign">
                  <textarea formControlName="description" cols="21" rows="5"></textarea>
                </td>

              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="rightAlign">
                  <input type="checkbox" formControlName="pwdNeverExpires"
                    [checked]="adminData.adminInput.pwdNeverExpires">&nbsp;
                </td>
                <td class="leftAlign"><a>Password Never Expires</a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="rightAlign"><a>Template ID</a>&nbsp;</td>
                <td class="leftAlign">
                  <select formControlName="templateIdClear" (change)="changeTemplate($event.target.selectedIndex)">
                    <option value="-1000">None</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td class="rightAlign">
                  <input type="checkbox" formControlName="blockkSimultaneousLogin"
                    [checked]="adminData.adminInput.blockkSimultaneousLogin">&nbsp;
                </td>
                <td class="leftAlign"><a> Block Simultaneous Admin Login </a></td>
              </tr>
              <tr>
                <td class="rightAlign">
                  <input type="checkbox" formControlName="updateProfileAtLogin"
                    [checked]="adminData.adminInput.updateProfileAtLogin">&nbsp;
                </td>
                <td class="leftAlign"><a> Admin must update profile </a></td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td class="inputkey" class="rightAlign">
                  <a>Number of last passwords to check</a> &nbsp;
                </td>
                <td class="inputvalue" class="leftAlign">
                  <select formControlName="maxValForLastPwdList">
                    <option value="None">None</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="inputkey" class="rightAlign">
                  <a> Admin Contact Details Collection </a>
                  &nbsp;
                </td>
                <td class="inputvalue" class="leftAlign">
                  <div *ngIf="!templateId; then showContact else hideContact"></div>
                  <ng-template #showContact>
                    <select formControlName="collectAdminContactDetails" 
                      (change)="showDeliveryChannel($event.target.selectedIndex)"
                      (change)="firstDropDownChanged($event.target.selectedIndex )" disabled="true">
                      <option *ngFor="let v of _values1" [value]=v.id >{{v.name}}</option>
                    </select>
                  </ng-template>
                  <ng-template #hideContact>
                    <select formControlName="collectAdminContactDetails" disabled>
                      <option *ngFor="let v of _values1" [value]=v.id >{{ v.name }}</option>
                    </select>
                  </ng-template>
                </td>
              </tr>
              <tr *ngIf="adminId">
                <td class="inputkey" class="rightAlign">
                  <a> Delivery Channel </a>&nbsp;
                </td>
                <td class="inputvalue" class="leftAlign">
                  <select formControlName="twoFactorDeliveryChannelType" disabled="true">
                    <option *ngFor="let v of _values2" [value]=v.id>{{ v.name }}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace" *ngIf="adminSelected && issuerSelected">
    <tbody>
      <tr>
        <td>
          <div id="head">Action &amp; Report Privileges for Administrator</div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace" class="formTable" *ngIf="adminSelected && issuerSelected">
    <tbody>
      <tr>
        <td class="inputkey">&nbsp;</td>
        <td class="checkboxspace"><input type="checkbox" [checked]="checked" name="privileges"
            (change)="allPrivileges($event)" formControlName="privs"></td>
        <td class="inputvalue"><i>Select/De-Select All</i></td>
      </tr>
      <tr>
        <td class="inputkey">&nbsp;</td>
        <td class="checkboxspace">&nbsp;</td>
        <td class="inputvalue">&nbsp;</td>
      </tr>
      <tr *ngFor="let privilege of privilegesData;">
        <td class="inputkey">&nbsp;</td>
        <td class="checkboxspace">
          <div><input type="checkbox" (change)="changePrivilegesByCategory($event)" name="privileges"
              [checked]="privilege.checked1" formControlName={{privilege.privilegeId}}> </div>
        </td>
        <td class="inputvalue">{{privilege.description}}</td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" *ngIf="adminSelected && issuerSelected">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="updateIssuerAdminPrivileges()">
        </td>
        <td class="space">&nbsp;
        </td>
        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" *ngIf="adminSelected && issuerSelected">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank"><img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>