*{
    background-color: rgb(51, 102, 153)!important;
    color:white;
    font-size: 11px;
  }
  ul{
    margin-left: 28px !important;
  }

   li a:hover {
    text-decoration: none;
    color : white;
  }

  #MenuItem {
    margin-top : 25px !important;
  }

  img {
    width: 11px;
    height: 11px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    float: left;
    margin-top : 1px;
    margin-left : 10px;
  }
  /* .sidenav{
    margin-top : 141px;
  } */

  p{
    font-weight: bolder;
    margin-left : 8px;
    margin-bottom: 5px;
  }

  .mainHeader{
    display: inline-flex;
  }

  .endofNav {
    margin-bottom: 25px;
    background-color: rgb(51, 102, 153)!important;
  }