<div *ngFor="let navItem of  navData">
  <div class="mainHeader">
    <div><img class="card-link" data-toggle="collapse" [attr.data-target]="'#' + navItem.attrribute_id" [src]="navItem.img"
        (click)="imageChange($event.target)"></div>
    <p>{{navItem.menu}}</p>
  </div>
  <div [attr.id]="navItem.attrribute_id" class="collapse show">
    <div>
      <ul>
        <li *ngFor="let router of navItem.navlinks"><a [routerLink]="router.routerLink">{{router.sub_menu}}</a></li>
      </ul>
    </div>
  </div>
</div>

<p class="endofNav"> * implies Dual Control</p>