.col-3 {
    padding : 0;
    max-width: 22.75%;
}

.container-fluid {
    overflow: hidden !important;
}

#bodyContent {
    margin-top : 140px;
}

.col-9 .col-3 .col-8 {
    position: relative;
}

#header {
    overflow: hidden;
}

#sideNav {
    height: 78.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#forms {
    height : 78.7vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.col-9 {
    flex : 0 0 77.25%;
    max-width : 77.25%;
    padding-left : 0px;
    padding-right : 0px;

}