<div class="container-fluid" *ngIf="loggedIn ">
  <div class="col-9" id="header">
    <app-header></app-header>
  </div>
  <div class="row" id="bodyContent">
    <div class="col-3" id="sideNav">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-9" id="forms">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div *ngIf="!loggedIn">
  <router-outlet></router-outlet>
</div>