<form [formGroup]="createGlobalAdminForm" (ngsubmit)="createGlobalAdmin()" class="global">

  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Create Global Administrator</div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <div class="description">Enter User ID, Name,Description,Password, select a list of countries for this
            administrator, check the appropriate privileges and click Submit. Password, list of countries and set of
            privileges are required to be input only if no template is selected.</div>
          <div class="errorMessage"></div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
        </td>
      </tr>
    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">User ID</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="userid" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">First Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="firstName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Middle Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="middleName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Last Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Description</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <textarea formControlName="description" rows="5" cols="20"></textarea>
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Template ID</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="29" width="58%">
          <select formControlName="Admins" onchange="setTemplate();">
            <option value="1">None</option>
            <option value="2">ICICITEMPLATE</option>
          </select>
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Password </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="password" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="rePassword" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="15%">&nbsp;</td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="changePasswordAtFirstLogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Admin must change password at first login </a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login</a></div>
        </td>
      </tr>



      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Admin must update profile at login</a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="maxValForLastPwdList">
            <option value="" selected="">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
          </select>
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Admin Contact Details Collection </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="collectAdminContactDetails">
            <option value="" selected="">Do not collect</option>
            <option value="1">Only Email Address</option>
            <option value="2">Only Phone Number</option>
            <option value="3">Both Email Address and Phone Number</option>
          </select>
        </td>
      </tr>



      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Processor Name </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">

          <select formControlName="processorName">
            <option value="" selected="">None</option>
            <option value="BSS">BSS</option>
            <option value="HDFC">HDFC</option>
            <option value="ICICI">ICICI</option>
            <option value="Issuer1">Issuer1</option>
            <option value="Issuer2">Issuer2</option>
            <option value="Issuer3">Issuer3</option>
            <option value="Issuer_NoVP">Issuer_NoVP</option>
            <option value="KiranBank">KiranBank</option>
            <option value="LV3_MyBank">LV3_MyBank</option>
            <option value="NVP_U_P">NVP_U_P</option>
            <option value="PN">PN</option>
            <option value="andhrabank">andhrabank</option>
            <option value="hsbc">hsbc</option>
            <option value="ing">ing</option>
            <option value="inp">inp</option>
            <option value="iob">iob</option>
            <option value="natwest">natwest</option>
            <option value="pnb">pnb</option>
            <option value="scb">scb</option>
            <option value="stiju">stiju</option>
            <option value="tempIssuer">tempIssuer</option>
            <option value="testissuer">testissuer</option>
            <option value="tmb">tmb</option>
          </select>
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Sub Processor Name </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="subProcessorName">
            <option value="" selected="">None</option>
            <option value="HDFC">HDFC</option>
            <option value="ICICI">ICICI</option>
            <option value="Issuer1">Issuer1</option>
            <option value="Issuer2">Issuer2</option>
            <option value="Issuer3">Issuer3</option>
            <option value="Issuer_NoVP">Issuer_NoVP</option>
            <option value="KiranBank">KiranBank</option>
            <option value="LV3_MyBank">LV3_MyBank</option>
            <option value="NVP_U_P">NVP_U_P</option>
            <option value="SPN">SPN</option>
            <option value="SS">SS</option>
            <option value="Test2">Test2</option>
            <option value="andhrabank">andhrabank</option>
            <option value="hsbc">hsbc</option>
            <option value="ing">ing</option>
            <option value="inp">inp</option>
            <option value="iob">iob</option>
            <option value="natwest">natwest</option>
            <option value="pnb">pnb</option>
            <option value="scb">scb</option>
            <option value="stiju">stiju</option>
            <option value="tempIssuer">tempIssuer</option>
            <option value="testissuer">testissuer</option>
            <option value="tmb">tmb</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="15%">&nbsp;</td>
      </tr>

    </tbody>
  </table>




  <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign" width="45%"><a href="#">List Of Countries </a>
        </td>
        <td width="10%"></td>
        <td class="leftAlign" width="45%"><a href="#">Selected Countries</a></td>
      </tr>
      <tr>
        <td class="rightAlign" width="45%">
          <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Countries" class="slt_Countries">
            <option *ngFor="let country of countries" value={{country.countryCode}}>{{country.countryName}}</option>
          </select></td>
        <td width="10%">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="addCountries">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="removeCountries">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign" width="45%">
          <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selCountries"
            formControlName="slt_selCountries">
          </select>
        </td>
      </tr>



      <tr>
        <td class="rightAlign" width="45%"><a href="#">List Of issuers </a>
        </td>
        <td width="10%"></td>
        <td class="leftAlign" width="45%"><a href="#">Selected issuers</a></td>
      </tr>
      <tr>
        <td class="rightAlign" width="45%"><select style="WIDTH: 285px;" multiple="true" size="4"
            formControlName="slt_Issuers" class="slt_Issuers">
            <option *ngFor="let issuer of issuers" value={{issuer.bankId}}>{{issuer.bankName}}</option>
          
          </select></td>
        <td width="10%">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="addIssuers">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="removeIssuers">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign" width="45%"><select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selIssuers"
            formControlName="slt_selIssuers"></select></td>
      </tr>

    </tbody>

  </table>
  <br><br>






  <!-- practice -->
  <!-- <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
      <tbody>
        <tr>
          <td>
          </td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%"><input type="checkbox" name="allNonTrades"  (change)="allNonTrades($event)">
          </td>
          <td width="55%"><i>Select/De-Select All</i></td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="55%">&nbsp;</td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" name="nontrades" [checked]="selected" (change)="changeTradesByCategory($event)" 
                formControlName="privs" value="S12155" >
            </div>
          </td>
          <td width="55%">Configure or Associate External Authentication</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" name="nontrades" [checked]="selected" (change)="changeTradesByCategory($event)"
                formControlName="privs" value="S12154">
                
            </div>
          </td>
          <td width="55%">Associate Mastercard Identity Check Mobile</td>
          <td width="5%"></td>
        </tr>
      </tbody>
    </table> -->

  <p id="head">Action & Report Privileges for Administrator</p>
  <a href class="head">Global Privileges</a>

  <!-- <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
        <tr>
            <td>
            </td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%"><input type="checkbox" (change)="selectAll()" [checked]="selectedAll" id="gpcbox"></td>
            <td width="55%"><i>Select/De-Select All</i></td>
            <td width="5%"></td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="55%">&nbsp;</td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%">
              <div name="gpcheckboxes"><input type="checkbox" value="{{n.name}}" [(ngModel)]="n.selected"
                (change)="checkIfAllSelected()" formControlName="privs" value="S12155">
              </div>
            </td>
            <td width="55%"> {{n.name}}</td>
            <td width="5%"></td>
          </tr>
    </table> -->

  <!-- <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
        <tr>
            <td>
            </td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%"><input type="checkbox" (change)="selectAll()" [checked]="selectedAll" id="gpcbox"></td>
            <td width="55%"><i>Select/De-Select All</i></td>
            <td width="5%"></td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
            <td width="55%">&nbsp;</td>
          </tr>
          <tr>
            <td width="35%">&nbsp;</td>
            <td width="5%">
              <div name="gpcheckboxes"><input type="checkbox" value="{{n.name}}" [(ngModel)]="n.selected"
                (change)="checkIfAllSelected()" formControlName="privs" value="S12155">
              </div>
            </td>
            <td width="55%"> {{n.name}}</td>
            <td width="5%"></td>
          </tr>
    </table> -->




  <!-- <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
  
      <tbody>
        <tr>
          <td>
          </td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%"><input type="checkbox" id="gpcbox"></td>
          <td width="55%"><i>Select/De-Select All</i></td>
          <td width="5%"></td>
        </tr>
  
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="55%">&nbsp;</td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S12155">
            </div>
          </td>
          <td width="55%">Configure or Associate External Authentication</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S12154">
            </div>
          </td>
          <td width="55%">Associate Mastercard Identity Check Mobile</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S12153">
            </div>
          </td>
          <td width="55%">Configure Mastercard Identity Check Mobile</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S13002">
            </div>
          </td>
          <td width="55%">Associate Callback Service</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S13001">
            </div>
          </td>
          <td width="55%">Configure Callback Service</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9240"></div>
          </td>
          <td width="55%">Admin Status Report</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6315"></div>
          </td>
          <td width="55%">Configure Administrator Privileges</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S12115">
            </div>
          </td>
          <td width="55%">Associate Identity Provider</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6101"></div>
          </td>
          <td width="55%">Create Global Admin</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S8943"></div>
          </td>
          <td width="55%">Configure CA Strong Authentication</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S12101">
            </div>
          </td>
          <td width="55%">Manage Identity Provider</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9205"></div>
          </td>
          <td width="55%">Update Administrator Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9204"></div>
          </td>
          <td width="55%">Update Issuer Admin Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9203"></div>
          </td>
          <td width="55%">Update Global Admin Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9202"></div>
          </td>
          <td width="55%">Create Administrator Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9201"></div>
          </td>
          <td width="55%">Create Issuer Admin Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9200"></div>
          </td>
          <td width="55%">Create Global Admin Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S8923"></div>
          </td>
          <td width="55%">Admin Contact Details Report</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6438"></div>
          </td>
          <td width="55%">Upload Administrator Template Update</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6437"></div>
          </td>
          <td width="55%">Upload Issuer Admin Template Update</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6436"></div>
          </td>
          <td width="55%">Upload Global Admin Template Update</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6433"></div>
          </td>
          <td width="55%">Upload Administrator Using Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6432"></div>
          </td>
          <td width="55%">Upload Issuer Admin Using Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6431"></div>
          </td>
          <td width="55%">Upload Global Admin Using Template</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6233"></div>
          </td>
          <td width="55%">Cancel Risk Assessment</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6232"></div>
          </td>
          <td width="55%">Risk Assessment Configuration</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6231"></div>
          </td>
          <td width="55%">Add Range Group</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6230"></div>
          </td>
          <td width="55%">Refresh ES/Admin Cache</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6429"></div>
          </td>
          <td width="55%">Upload Admin Data</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6428"></div>
          </td>
          <td width="55%">Upload Enrollment Data</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6427"></div>
          </td>
          <td width="55%">Upload Pre-Enrollment Data</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6228"></div>
          </td>
          <td width="55%">Billing Information</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6227"></div>
          </td>
          <td width="55%">Update Issuer Callout</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S84921">
            </div>
          </td>
          <td width="55%">All Transactions Extended</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6226"></div>
          </td>
          <td width="55%">Add Issuer Callout</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6225"></div>
          </td>
          <td width="55%">Update CallOut Configuration</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6224"></div>
          </td>
          <td width="55%">Add CallOut Configuration</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6223"></div>
          </td>
          <td width="55%">Verify Enrollment Log</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6222"></div>
          </td>
          <td width="55%">Update Issuer</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6221"></div>
          </td>
          <td width="55%">Add New Phone Support</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6220"></div>
          </td>
          <td width="55%">Add Issuer Customization</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6218"></div>
          </td>
          <td width="55%">Configure Issuer Admin Privileges</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6217"></div>
          </td>
          <td width="55%">Update Issuer Admin Privileges</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6216"></div>
          </td>
          <td width="55%">View All Issuers</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6215"></div>
          </td>
          <td width="55%">Update FI Information</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6214"></div>
          </td>
          <td width="55%">Global Admin Activities Log</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6212"></div>
          </td>
          <td width="55%">Update ES Config</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6211"></div>
          </td>
          <td width="55%">Update ACS Config</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9923"></div>
          </td>
          <td width="55%">Server version Report</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6210"></div>
          </td>
          <td width="55%">Add FI Information</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9882"></div>
          </td>
          <td width="55%">Batch File</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9881"></div>
          </td>
          <td width="55%">Database Switch Over</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6209"></div>
          </td>
          <td width="55%">Create Issuer</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6208"></div>
          </td>
          <td width="55%">Reset Issuer Admin Password</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6207"></div>
          </td>
          <td width="55%">Enable/Disable/Delete Issuer Admin Account</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6206"></div>
          </td>
          <td width="55%">Configure Issuer Admin Policy</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6205"></div>
          </td>
          <td width="55%">Create Issuer Admin</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6204"></div>
          </td>
          <td width="55%">Reset Global Admin Password</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6202"></div>
          </td>
          <td width="55%">Enable/Disable/Delete Global Admin Account</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S6201"></div>
          </td>
          <td width="55%">Update Global Admin Privileges</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9313"></div>
          </td>
          <td width="55%">View, Update, Assign and Re-open Case</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9312"></div>
          </td>
          <td width="55%">View and Update Case</td>
          <td width="5%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="gpcheckboxes"><input type="checkbox" checked="checked" formControlName="privs" value="S9300"></div>
          </td>
          <td width="55%">View Clear Card Number (Including Reports)</td>
          <td width="5%"></td>
        </tr>
  
      </tbody>
    </table> -->

  <a href class="head">Issuer Privileges</a>

  <!-- <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
      <tbody>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%"><input type="checkbox" id="ipcbox"></td>
          <td width="5%"><i>Select/De-Select All</i></td>
          <td width="55%"></td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="55%">&nbsp;</td>
        </tr>
        <tr>
          <td width="35%">&nbsp;</td>
          <td width="5%">
            <div name="ipcheckboxes"><input type="checkbox" checked="checked" name="privs" value="S8985"></div>
          </td>
          <td width="55%">Send CA Strong Authentication Activation Data</td>
          <td width="5%"></td>
        </tr>
      </tbody>
    </table> -->

  <table cellspacing="0" cellpadding="0" width="100%" class="header">
    <tbody>
      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" height="5" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif" alt="Submit" (click)="createGlobalAdmin()">
        </td>
        <td width="2%" height="5">&nbsp;
        </td>

        <td height="5" width="50%" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif" alt="Cancel">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
        </td>
      </tr>
    </tbody>
  </table>

</form>