
<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
  <table>
    <tbody>
      <tr>
        <td colspan="3" height="17">
          <div class="leftAlign">
            <b>
              <i><img src="../../assets/CA-logo.gif"></i>
            </b>
          </div>
        </td>
      </tr>
      <tr class="header">
        <td colspan="3">
          <div class="pageTitle">Administrator Login</div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="7">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">
            Enter the User ID and Password and click <b>Submit</b>.
          </div>
        </td>
      </tr>
      <tr>
        <div class="errorMessage">
          {{errorMessage}}
        </div>
      </tr>
      <tr>
        <td colspan="3" height="7">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17"></td>
      </tr>
      <tr>
        <td width="34%" height="2">
          <div class="rightAlign"></div>
        </td>
        <td width="11%" height="2">User ID</td>
        <td width="55%" height="2">
          <div class="leftAlign">
            <input type="text" formControlName="adminName" size="25" maxlength="25">
          </div>
        </td>
      </tr>
      <tr>
        <td width="34%" height="2">
          <div class="rightAlign"></div>
        </td>
        <td width="11%" height="2">Password</td>
        <td width="55%" height="2">
          <div class="leftAlign">
            <input type="password" formControlName="password" size="25" maxlength="25">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="2">
          <div class="centered">
            <input type="submit" value="&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;" class="button">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="22">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="rightAligned">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcotLogo">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div class="popup" *ngIf="showPopup">
  <a class="close" (click)="hidePopup()">x Click here if you do not want to see this message again</a><br />
  <p class="message">Access to this system may result in sensitive data such as cookies, cached data, or downloaded
    reports being stored on your computer.</p>
</div>