<form [formGroup]="addIssuerCustomizationForm" (ngsubmit)="addIssuerCustomization()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Customize ACS-CAP Template</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">To customize ACS-CAP template, select an Issuer, card range, the locale to customize,
            specify a folder name where ACS-CAP templates are kept and choose the device category. Select User Agent and
            Accept String also for a mobile device.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">

    <!-- START OF ISSUER -->
    <tbody>
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Issuer Name</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%"> <b><i>
              <select formControlName="bankName" (change)="issuerChange($event.target.selectedIndex)">
                <option value="0">--</option>
                <option *ngFor="let issuer of issuers" value={{issuer.bankCode}}>{{issuer.bankName}}</option>
              </select>
            </i></b></td>
      </tr>
      <!-- END OF ISSUER -->


      <!-- START OF RANGE GROUPS -->
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Range Group</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%"> <b><i>
              <select formControlName="configId" (change)="rangeGroupChange($event.target.selectedIndex)">
                <option *ngFor="let range of rangeGroups.rangeGroupList" value={{range.groupId}}>{{range.groupName}}
                </option>
              </select>
            </i></b></td>
      </tr>
      <!-- END OF RANGE GROUPS -->

      <!-- START OF RANGES -->
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Card Range</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%"> <b><i>
              <select formControlName="rangeID" (change)="cardRangeChange($event.target.selectedIndex)" *ngIf="!displayCardRange">
                <option *ngFor="let cardRangeKey of _cardRangesKeys" [value]="cardRangeKey" >
                  {{ cardRanges[cardRangeKey] }}</option>
              </select>
              <select formControlName="rangeID" *ngIf="displayCardRange">
              </select>
            </i></b></td>
      </tr>
      <!-- END OF RANGES -->

      <!-- START OF LOCALE -->
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Locale</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%">
          <select formControlName="text_locale" (change)="localeChange($event.target.selectedIndex)">
            <option value="0">--</option>
            <option *ngFor="let locale of deviceLocale" [value]="locale.localeId">{{locale.desc}}</option>
          </select>
        </td>
      </tr>
      <!-- END OF LOCALE -->


      <!-- START OF Update Type -->
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Update Type</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%" *ngIf="!enabled"> <b><i>
              <select  formControlName="updateType"
                (change)="updateTypeChange($event.target.selectedIndex)">
                <option value="-1">--</option>
                <option id="updatetype" *ngFor="let updateType of updateType" [value]="updateType.index">{{updateType.type}}</option>
              </select>
            </i></b>
        </td>
        <td width="50%" *ngIf="enabled"> <b><i>
              <select id="updatetype" formControlName="updateType"
                (change)="updateTypeChange($event.target.selectedIndex)">
                <option value="-1">--</option>
                <option value="0" disabled>Add</option>
                <option value="1" disabled>Delete</option>
                <option value="2">Default</option>
                <option value="3" disabled>Update</option>
              </select>
            </i></b>
        </td>
      </tr>

      <!-- END OF Update Type -->

      <!-- START OF USERAGENT -->


      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">User Agent</a> </div>
        </td>
        <td width="2%"><i></i></td>
        <td width="50%" *ngIf="!showDropdownData">
          <i>
            <b>
              <textarea rows="6" cols="50" formControlName="userAgent" *ngIf="userAgentDisable"></textarea>
              <textarea rows="6" cols="50" formControlName="userAgent" disabled *ngIf="!userAgentDisable"></textarea>
            </b>
          </i>
        </td>
        <td width="50%" *ngIf="showDropdownData">
          <i>
            <b>
              <select formControlName="userAgent" style="width: 400px; height: 3em"
                (change)="userAgentChange($event.target.selectedIndex)">
                <option *ngFor="let userAgentKey of _userAgentKey" [value]="userAgentKey">{{ userAgentData[userAgentKey] }}
                </option>
              </select>
            </b>
          </i>
        </td>
      </tr>

      <!-- END OF USERAGENT -->



      <!-- START OF Upgrade UI folder -->
      <tr>
        <td width="48%">
          <div class="rightAlign">
            <a href="#">Is this customization forUpgraded UI or not?</a>
          </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%"><b><i>
              <input type="checkbox" formControlName="UpgradedUI" value="1">
            </i></b> </td>
      </tr>
      <!-- END OF Upgrade UI folder -->

      <!-- START OF FOLDER -->
      <tr></tr>
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">ACS-CAP Folder Name</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%"><b><i>
              <input type="text" formControlName="folder" size="25" maxlength="256" value={{this.folderMessage}}>
            </i></b> </td>
      </tr>
      <!-- END OF FOLDER -->

      <input type="hidden" formControlName="acsURL" size="2" maxlength="2" value=''>

    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" class="rightAlign">
          <img src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="addIssuerCustomization()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>