<form [formGroup]="enableCardRangesForm" (ngsubmit)="enableCardRanges()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Enable Card Ranges</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">
            Please select the card range(s) to enable.
          </div>
          <div class="errorMessage">{{errorMessages}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign" valign="middle">
          <a href="#">Issuer:</a>
        </td>
        <td>&nbsp;</td>
        <td class="leftAlign" valign="top">
          <select formControlName="issuer" size="1" style="width: 250"
            (change)="onChangeIssuer($event.target.selectedIndex)">
            <option value="0">----------- Select Issuer Name -----------</option>
            <option *ngFor="let issuer of issuers" [value]="issuer.value">{{issuer.label}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <td class="rightAlign" valign="middle">
          <a href="#">Range:</a>
        </td>
        <td>&nbsp;</td>
        <td colspan="3" class="leftAlign" valign="top">
          <select formControlName="rangeIds" multiple="multiple" size="5" style="height: 200; width: 300">
            <option value="0">----------- Select Card Range -----------</option>
            <option *ngFor="let range of ranges" [value]="range.value">{{range.label}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

    </tbody>
  </table>
  <table class="submitClass">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="enableCardRanges()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="submitClass">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>