* {
    font-size : 12px;
}

table {
    width: 99%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 199px;
    font-style: normal;
    text-align: start;
    font-variant: normal;
    border-collapse: separate;
    border-spacing: 2px;
    padding:6px;
    border-color: grey;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.header {
    margin-top : 25px;
}

.leftAlign {
    text-align: left;
}

.center{
    align-content : center;
}

hr {
    border-top: 0.5px solid grey;
    margin : 0;
    padding : -2px ;
}
.pageTitle {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #336699;
    text-decoration: none;
    margin-top : 11px;
}

.description {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.rightAlign{
    align-content: right
}

.centered{
    text-align: center;
}

.button {
    BACKGROUND-COLOR: white;
    COLOR: #000000;
    BORDER: 2px solid;
    BORDER-COLOR: orange;
    CURSOR: pointer
}
.button:hover {
    BACKGROUND-COLOR: orange;
}

.arcotLogo {
    width : 300;
    height : 75;
}

.rightAligned{
    text-align: right;
}

.popup{
    background-color: rgb(51, 102, 153);
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    z-index: 9999999;
    height: 65px;
    bottom : 0px;
    width:100%;
    overflow: hidden;
    position: fixed;
}
.popup a {
    color: #f6a21d;
    text-decoration : underline;
}

.popup a:hover{
    text-decoration: none;
}

.close {
    text-align: right;
    font-size: 12px;
    overflow : hidden;
}

.message{
    margin-top : 17px;
    color : white;
    font-size: 12px;
}

.errorMessage{
font-size: 14px;
TEXT-ALIGN: left;
FONT-WEIGHT: normal;
color: #FF0000;
text-decoration: none;
}