<table class="formTable" [formGroup]="changePassword" (ngSubmit)="dochangePassword()">
  <tbody>
    <tr>
      <td colspan="4">

        <table class="formTable">
          <tbody>
            <tr>
              <td>&nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <div class="pageTitle">Change Global Administrator Password</div>
              </td>
            </tr>
            <tr>
              <td colspan="3" >
                <hr>
              </td>
            </tr>
            <tr>
              <td colspan="3" >
                <div class="description" *ngIf="!showOldPassword">Enter your new password twice and click on <b>Submit.</b> </div>
                <div class="description" *ngIf="showOldPassword">Enter your old password first then enter the new password twice below and
                  then click on <b>Submit</b>.</div>
                <div class="errorMessage">{{errorMessage}}</div>
                <div class="successMessage"></div>
              </td>
            </tr>
            <tr>
              <td colspan="3" >
                <hr>
              </td>
            </tr>
            <tr>
              <td colspan="3" >
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
    <tr>
      <td colspan="4">

        <b><a>Password Policy :</a></b>&nbsp;<br>
        Password Length&nbsp;


        Maximum = 10&nbsp;

        Minimum = 4&nbsp;<br>

        Minimum Alphabets = 4&nbsp;

      </td>
    </tr>

    <tr *ngIf="showOldPassword" >
      <td class="inputkey">
        <div class="rightAlign"><a>Old Password</a>&nbsp;</div>
      </td>
      <td class="space">&nbsp;</td>
      <td class="inputvalue">
        <input type="password" formControlName="oldPassword" size="25" maxlength="25" autocomplete="off">
      </td>
    </tr>

    <tr>
      <td class="inputkey">
        <div class="rightAlign"><a>New Password</a>&nbsp;</div>
      </td>
      <td width="2%">&nbsp;</td>
      <td class="inputkey">
        <input type="password" formControlName="password" size="25" maxlength="25" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td class="inputkey">
        <div class="rightAlign"><a>Re-type Password</a>&nbsp;
        </div>
      </td>
      <td width="2%">&nbsp;</td>
      <td class="inputkey">
        <input type="password" formControlName="retypeNewpassword" size="25" maxlength="25" autocomplete="off">
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr>
      <td class="inputkey">
        <div class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="dochangePassword()">
        </div>
      </td>
      <td width="2%">
        <div class="rightAlign"> </div>
      </td>
      <td colspan="2" class="inputkey">
        <div class="leftAlign">
          <img name="next" src="../../../assets/largecancel.gif" alt="cancel"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" (click) = "doCancel()" >
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="formTable">
          <tbody>
            <tr>
              <td colspan="4" class="rightAlign">
                <a href="http://www.ca.com" target="_blank">
                  <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>