<form [formGroup]="createIssuerAdminForm" class="global" (ngsubmit)="createIssuer()">

  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Create Issuer Administrator</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">Enter a User ID,Name, Description, a Password, check the appropriate privileges and
            click <b> Submit</b>. Password, list of countries and set of privileges are required to be input only if no
            template
            is selected.</div>
          <div class="errorMessage" *ngIf="!passwordMessage">{{errorMessage}}</div>
          <div *ngIf="passwordMessage" class="errormessagecolor">Password Policy for this level is not satisfied <br>
            Password Policy : <br>
            Password Length: <span *ngIf="errorMessage.maxLength>0 && errorMessage.maxLength!=null"> Maximum =
              {{errorMessage.maxLength}}</span>
            <span *ngIf="errorMessage.minLength>0 && errorMessage.minLength!=null">Minimum =
              {{errorMessage.minLength}}</span> <br>
            <span *ngIf="errorMessage.minAlphabet>0 && errorMessage.minAlphabet!=null">Minimum Alphabets =
              {{errorMessage.minAlphabet}}</span>
            <span *ngIf="errorMessage.minNumeric>0 && errorMessage.minNumeric!=null"> Minimum Numeric =
              {{errorMessage.minNumeric}}</span>
            <span *ngIf="errorMessage.minLowerCaseCharacters>0 && errorMessage.minLowerCaseCharacters!=null">Minimum
              LowerCase Alphabets=
              {{errorMessage.minLowerCaseCharacters}}</span>
            <span *ngIf="errorMessage.minUpperCaseCharacters>0 && errorMessage.minUpperCaseCharacters!=null">Minimum
              Upper
              Case Alphabets = {{errorMessage.minUpperCaseCharacters}}</span>
            <span *ngIf="errorMessage.minSpecialCharacters>0 && errorMessage.minSpecialCharacters!=null">Minimum Special
              Characters = {{errorMessage.minSpecialCharacters}}</span></div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign">
          <a href="#">Issuer</a>&nbsp;
        </td>

        <td class="leftAlign">
          <select formControlName="issuer" (change)="changeIssuer($event.target.selectedIndex)" [(ngModel)]="default">
            <option value="0">--</option>
            <option *ngFor="let issuer of issuers" value="{{issuer.bankCode}}">{{issuer.bankName}}</option>
          </select></td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">User ID</a></div>
        </td>

        <td class="inputvalue">
          <input type="text" formControlName="userid" value="" size="25" maxlength="20">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">First Name</a></div>
        </td>

        <td class="inputvalue">
          <input type="text" formControlName="firstName" value="" size="25" maxlength="30">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Middle Name</a></div>
        </td>

        <td class="inputvalue">
          <input type="text" formControlName="middleName" value="" size="25" maxlength="30">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Last Name</a></div>
        </td>

        <td class="inputvalue">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="30">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Description</a></div>
        </td>

        <td class="inputvalue">
          <textarea formControlName="description" rows="5" cols="20"></textarea>
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Template ID</a></div>
        </td>

        <td height="29" width="58%">
          <select formControlName="Admins" (change)="ChangeTemplate($event.target.selectedIndex)">
            <option value="None">None</option>
            <option value="None" *ngIf="hideTemplates">ICICITEMPLATE</option>
          </select>
        </td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Password </a></div>
        </td>

        <td class="inputvalue">
          <input type="password" formControlName="password" value="" size="25" maxlength="28">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>

        <td class="inputvalue">
          <input type="password" formControlName="rePassword" value="" size="25" maxlength="28">
        </td>
      </tr>


      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="changePasswordAtFirstLogin" value="1" maxlength="28">
        </td>

        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Admin must change password at first login </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires" value="1">
        </td>

        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin" value="1">
        </td>

        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin" value="1">
        </td>

        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Admin must update profile at login </a></div>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td class="rightAlign">
          <div id="divTwoFactorAuthTypeLabel" style="display: none">
            <a href="#">Two-Factor Authentication Type</a>&nbsp;&nbsp;
          </div>
        </td>
        <td class="leftAlign">
          <div id="divTwoFactorAuthTypeValue" style="display: none">
            <select id="twoFactorAuthenticationType" formControlName="twoFactorAuthenticationType">
              <option value="1">CA ArcotID</option>
              <option value="2">Simple OTP</option>
            </select>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
        </td>

        <td class="inputvalue">
          <select formControlName="maxValForLastPwdList">
            <option value="0" selected="">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="issuerId">
        <td class="rightAlign">
          <a href="#"> Admin Contact Details Collection</a> &nbsp;
        </td>
        <td class="leftAlign">
          <select formControlName="collectAdminContactDetails" disabled="true">
            <option value={{contactId}}>{{admindetails}}</option>
          </select>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr *ngIf="issuerId && showDeliveryChannel">
        <td class="rightAlign">
          <a href="#"> Delivery Channel</a> &nbsp;
        </td>
        <td class="inputvalue">
          <select formControlName="twoFactorDeliveryChannelType" disabled="true">
            <option value={{deliveryId}}>{{deliveryChannel}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>


  <p id="head">Action & Report Privileges for Administrator</p>
  <table class="countryspace" class="formTable">
    <tbody>
      <tr>
        <td class="privelegespace">&nbsp;</td>

        <td class="rightAlign"><input type="checkbox" [checked]="checked" (change)="allPrivileges($event)"
            formControlName="privs"></td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign"><i>Select/De-Select All</i></td>
      </tr>
      <tr>
        <td class="privelegespace">&nbsp;</td>
        <td class="rightAlign">&nbsp;</td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">&nbsp;</td>
      </tr>
      <tr *ngFor="let privilege of privileges; let i = index">
        <td class="privelegespace">&nbsp;</td>
        <td class="rightAlign">
          <div><input type="checkbox" name="privileges" [checked]="checked"
              (change)="changePrivilegesByCategory($event)" [formControlName]="i"></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">{{privilege.description}}</td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" class="header">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="createIssuer()">
        </td>
        <td class="space">&nbsp;
        </td>
        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>