<form [formGroup]="resetPasswordForm" (ngsubmit)="resetPassword()" class="global" *ngIf="statusInactive">
  <table class="header" *ngIf = "showHeader">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Reset Global Administrator Password</div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">{{description}}<b> Submit</b>.
          </div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable" *ngIf = "showHeader">
    <tbody>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">User ID </a></div>
        </td>

        <td class="inputvalue">
          <select formControlName="Admins" (change)="changeAdmin($event.target.selectedIndex)">
            <option value="0" selected="">--</option>
            <option *ngFor="let admin of admins" value="{{admin.name}}">
              <div *ngIf="admin.firstName == ''">
                {{admin.name}}
              </div>
              <div *ngIf="admin.firstName != ''">
                {{admin.name}}-{{admin.firstName}} {{admin.middleName}} {{admin.lastName}}
              </div>
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <div id="head" *ngIf="changeId && !collectDeatils">Enter twice the new password and a remark</div>
  <br>

  <div id="head" *ngIf="changeId && collectDeatils">Enter a remark</div>
  <br>

  <table class="formTable" *ngIf="changeId && collectDeatils">
    <tbody>

      <tr>
        <td width="10%">&nbsp;</td>
        <td class="rightAlign" width="30%">

          <input type="checkbox" formControlName="emailCheck" disabled="" readonly="">

          <a href="#">Email Address</a>
          <span class="errorMessage">*</span>&nbsp;</td>

        <td class="leftAlign">
          <input type="text" formControlName="emailAddr" autocomplete="off" disabled="" value="">
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="10%">&nbsp;</td>
        <td width="30%" class="rightAlign">

          <input type="checkbox" formControlName="phoneCheck" disabled="" readonly="">


          <a href="#">Phone Number</a>
          <span class="errorMessage">&nbsp;&nbsp;</span></td>

        <td class="leftAlign">
          <input type="text" formControlName="phoneNum" autocomplete="off" disabled="" value="">
        </td>
        <td>&nbsp;</td>
      </tr>


      <tr>
        <td>&nbsp;</td>
        <td class="rightAlign"><a>Remarks</a>&nbsp;</td>
        <td class="leftAlign">
          <input type="text" formControlName="remark" maxlength="256">
        </td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>







  <table class="formTable" *ngIf="changeId && !collectDeatils">
    <tbody>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">New Password </a></div>
        </td>

        <td class="inputvalue">
          <input type="password" formControlName="newPassword">
        </td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>

        <td class="inputvalue">
          <input type="password" formControlName="retypeNewpassword">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Remarks</a></div>
        </td>

        <td class="inputvalue">
          <input type="text" formControlName="remark" maxlength="250">
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace" class="header" *ngIf="changeId">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif" alt="Submit" (click)="resetPassword()">
        </td>
        <td class="space">&nbsp;
        </td>

        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif" alt="Cancel" (click)="cancelOperation()">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" *ngIf="changeId">
    <tbody>
      <tr>
        <td class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div *ngIf="!statusInactive" class="formTable" class="message">
  You can not reset the Administrator's password because status is inactive.
</div>
<div *ngIf="showContactMessage" class="formTable" class="message">
  The OTP could not be delivered to the Email Address and Phone number.
</div>