*{
  font-family: verdana,arial,helvetica,sans-serif;
}
.errormessagecolor{
color:red;
font-size: 14px;
}

.inputkey{
  width:40%; 
  height:17px;
}
.space{
  width:2% ;
  height:17px;
}
.inputvalue{
  width:58%; 
  height:17px;
}
.updatespace{
  width:20%; 
  height:17px;
}
.countryspace{
  width:100%; 
}
.dragspace{
  width:10%; 
}
.checkboxspace{
  width:5%;
}
.select{
  width: 285px;
}
.privelegespace{
  width:35%; 
}


.global {
  margin-left : 8px;
  margin-right : 8px;
}
.pageTitle {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #336699;
  text-decoration: none;
  margin-top: -3px;
}

.header {
  border : 0;
  width : 100%;
  align-content : center;
}

.formTable {
  font-size : 12px;
  width : 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.submitClass{
  width:100%
}

.formTable a {
  color : #003366;
  cursor : pointer;
  text-decoration : underline;
}

.formTable a:visited {
  color : #0000FF;
}

.rightAlign {
  text-align : right;
}
.leftAlign{
  text-align: left;
}
.middleAlign{
  text-align: center;
  font-size: 12px;
}
hr {
  display: block;
  margin-top : 6px;
  margin-bottom : 6px;
  overflow: hidden;
  border-style: inset;
  border : 0.1px solid rgb(141, 140, 140);
  border-width: 0.5px;
}

.description {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

#head{
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
  background-color: #336699;
  text-decoration: none;
  width:100%
}

.head{
  font-size : 12px;
  text-decoration : underline;
  color : #0000FF;
  margin-left: 400px
}

.errorMessage {
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  color: #FF0000;
  text-decoration: none;
}

.side-heading{
  background-color : lightgrey;
}

.pageTitle1{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  color: #336699;
  text-decoration: none;
}

#SassIssuers{
  color : #000000;
}

.submit_middle{
  text-align: center;

}

.smallHeading{
  color : red;
  font-size : 10px;
}

.tableHeadingWithLink{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #0000FF;
  text-decoration: none;
}
.aligncenter{
  margin-left:40%
}
